<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a style="color:darkgray" href="index">Home</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<!-- /Breadcrumbs -->
