<!-- ******* Call to Action ******* -->
<div class="container" style="padding-top:20px; padding-bottom:0px">
    <div class="row mb-4">
        <div class="col-md-8">
            <p class="text-white"><strong>Call Previdence now at 801-409-0904 to get a free trial or email Previdence at <a href="mailto:sales@previdence.com">sales@previdence.com.</a></strong></p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-previdence-red btn-block" href="../Home/Contact"><strong>Contact Previdence Now</strong></a>
        </div>
    </div>
</div>
<!-- /Call to Action Section -->
