<!--
####################################################
FOOTER
####################################################
-->
<section class="text-center bg-black py-3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-auto mb-1 mb-md-0">
                <p class="mb-0">
                    Previdence, Corporation &copy; @DateTime.Now.Year<span class="mx-2">|</span><span class="text-900 hover-color-white">
                        <!--v4.0.1-->v4.0.1
                    </span>
                </p>
            </div>
            <div class="col-12 col-md-auto">
                <p class="mb-0"><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</section>
<a class="btn-back-to-top" href="#top" data-fancyscroll><img src="~/img/line-icons/upload-arrow.svg" width="8" alt=""></a>
@*<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - Website_v3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
    </div>
</footer>*@

<!-- / end F O O T E R -->
