<!-- ******* GDPR alert ******* -->
<div class="alert cookiealert text-center" role="alert">
    <span class="font-weight-bold text-white">Previdence.com uses Google Analytics cookies to anonymously track website traffic statistics.</span>
    <button type="button" class="btn btn-sm btn-outline-light hvr-sweep-top px-4 acceptcookies" aria-label="Close"><strong>I Understand</strong></button>
    <br />
</div>
<!-- / end  GDPR alert -->