
@{
   ViewBag.Title = "K-12 Education Mental Wellness";
   ViewBag.HeaderTitle = "Safety Begins";
   ViewBag.HeaderLine1 = "with";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/Female_Student.png)";
   ViewBag.PageTitle = "Education";
   ViewBag.PageSubTitle = "Student safety and resiliencey";
   ViewBag.TM_PageSubTitle = "";
   ViewBag.PageIntro = "Previdence for Schools K-12 was created so that schools and school districts of any size can maintain the best school safety practices for all students. Previdence for Schools K-12 provides a consistent, efficient Standard of Care process for mental Wellness. This allows schools to Identify, Assess, Manage, and Monitor all students who are at risk of causing harm to themselves or others from one convenient platform.";
   ViewBag.Discount = "EducationEligibility";     
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
            </div>
        </section>
        <partial name="_Services" />
        <partial name="_Discount" />
    </main>
<!-- / end  M A I N  C O N T E N T -->
