
@{
    ViewData["Title"] = "Our Mental Wellness Technology";
    ViewData["HeaderTitle"] = "The Best Tech Begins";
    ViewData["HeaderLine1"] = "with";
    ViewData["HeaderLine2"] = "Intelligent Mental Wellness Technologies";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/AI_Head.png)";
    ViewData["PageTitle"] = "Previdence Intelligent Mental Wellness Technologies";
    ViewData["PageSubTitle"] = "Saving Lives, One Mind at a Time";
    ViewData["TM_PageSubTitle"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["PageIntro"] = "In helping to treat over 180,000 people with mental concerns, Previdence has developed a suite of intelligent technologies that allow professionals to Assess Mental Health, Identify Behavioral Risk, and Generate Safety and Treatment Plans. This intelligent technology suite has aided professionals in saving the lives of soldiers, students, children, first-responders and more.";
    

}
<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## F A Q S ########## -->
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <!-- FEATURES -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <p class="minor-title">The Next Generation of Mental Wellness</p>
                            </div>
                            <div class="overflow-hidden">
                                <p class="mb-0">The Previdence next generation of mental Wellness technology is built around a newly developed Intelligent Decision Support Engine&trade; or iDSE&trade;. Through this new technology, Previdence provides the best in mental health evaluations, behavioral risk assessments, safety management protocols, and restorative treatment plans.</p>
                            </div>
                            <div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <p class="minor-title">One-of-a-Kind Technology and Datasets</p>
                            </div>
                            <div class="overflow-hidden">
                                <p>
                                    Previdence combines the best of mental Wellness research and machine learning to create a one-of-a-kind collection of data points. This marriage of research-based and outcome-based data provides a whole new level of possibilities for mental illness identification, behavioral risk assessment, behavioral threat management, and mental health treatment effectiveness. This revolutionary eHealth tech platform, named Apollo, was developed over the last 15 years by collecting data from the mental and behavioral treatment of soldiers in the Warrior Transition Unit and from children in schools.
                                </p>
                            </div>
                            <div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <p class="minor-title">
                                    The Best Results - Unique Advantage
                                </p>
                            </div>
                            <div class="overflow-hidden">
                                <p>
                                    This unique advantage of knowledge combined with technology delivers the best patient outcomes and the safest results. This is what is driving the Previdence mental health resource portal to become the premier library of mental health knowledge and treatment protocols in the world.
                                </p>
                            </div>
                            <div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <p class="minor-title">
                                    Software as a Medical Device or S<span class="text-lowercase">a</span>MD
                                </p>
                            </div>
                            <div class="overflow-hidden">
                                <p>
                                    The Previdence business model leverages this new technology as Software as a Medical Device or SaMD to allow for affordable, profitable, and easy implementation. This subscription-based model allows for easy planning, fast implementation, and affordable results.
                                </p>
                            </div>
                            @*<div class="overflow-hidden">
                                <hr class="my-3"  />
                            </div>*@
                        </div>
                        <!-- / end feature -->
                    </div>
                </div>
                <!-- Call To Action -->
                <div class="overflow-hidden text-center">
                    <Div class="">
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-dark hvr-sweep-top mt-5 px-4" asp-area="" asp-controller="Services" asp-action="Index">learn more</a>&nbsp&nbsp&nbsp<a class="btn btn-sm btn-dark hvr-sweep-top mt-5 px-4" asp-area="" asp-controller="Home" asp-action="Contact">Get Started</a></div>
                    </Div>
                </div>
                <!-- / end  Call To Action -->
                <!-- / end  FEATURES -->
            </div>
        </section>
        <!-- / end  F A Q S -->
    </main>
<!-- / end  M A I N  C O N T E N T -->
