@{
   ViewBag.Title = "";
   ViewBag.HeaderTitle = "";
   ViewBag.HeaderLine1 = "";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/Dawn_of_Healing.jpg)";
   ViewBag.PageTitle = " ";
   ViewBag.PageSubTitle = "Saving Lives, One Mind at a Time";
   ViewBag.TM_PageSubTitle = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.PageIntro = " ";       
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## C O N T E N T ########## -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">

                @*place content here*@

                <div class="overflow-hidden text-center">
                    <partial name="_CallToActionDark" />
                </div>
            </div>
        </section>
        <!-- / end  C O N T E N T -->
    </main>
<!-- / end  M A I N -->
