
@{
    ViewData["Title"] = "Contact Us";
    ViewData["HeaderTitle"] = "Contact Us";
    ViewData["HeaderLine1"] = "";
    ViewData["HeaderLine2"] = "Intelligent Mental Wellness Platform";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/Phonecall.png)";
    ViewData["PageTitle"] = "Contact Us";
    ViewData["PageSubTitle"] = "";
    ViewData["TM_PageSubTitle"] = "";
    ViewData["PageIntro"] = " ";
    ViewData["PageDown"] = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## C O N T A C T  U S########## -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <div class="row text-center justify-content-center">
                    <div class="col-md-6  text-md-right">
                        <h5 class="ls-1 mb-1">Call Us</h5>
                        <p class="mb-0">
                            office: <a class="text-600" href="tel:8016216032">801 621 6032 </a>
                        </p>
                        <p class="mb-3">
                            support: <a class="text-600" href="tel:8019010580">801 901 0580 </a>
                        </p>
                        <h5 class="ls-1 mb-1">Email Us</h5>
                        <p class="mb-3">
                            <a class="text-600" href="mailto:info@previdence.com">info@previdence.com</a>
                        </p>
                    </div>
                    <div class="col-md-6 text-md-left justify-content-md-start">
                        <h5 class="ls-1 mb-3">Visit With Us</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.8379621144963!2d-111.94592664853097!3d41.15988697918403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875306710c104be3%3A0xc013b6bb2ccbb593!2sprevidence!5e0!3m2!1sen!2sus!4v1539959224491" width="450" height="350" frameborder="0" style="border:0" marginheight="0" marginwidth="0" allowfullscreen="" data-zanim-xs='{"duration":1.5,"delay":0}'></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- / end  C O N T A C T  U S -->
    </main>
<!-- / end  M A I N  C O N T E N T -->
