@{
   ViewBag.Title = "Mental Health Emergency Resources";
   ViewBag.HeaderTitle = "Emergency Resources";
   ViewBag.HeaderLine1 = "";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/Dawn_of_Healing.jpg)";
   ViewBag.PageTitle = "Emergency Resources";
   ViewBag.PageSubTitle = "within the USA";
   ViewBag.TM_PageSubTitle = "<span class=\"text-transform-none\"></span>";
   ViewBag.PageIntro = "";       
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## E M E R G E N C Y  R E S O U R C E S ########## -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-left" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">                       
                <section class="pt-3 pt-lg-5 pb-6 pb-lg-8" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
                    <div class="container">
                        <partial name="_PageTitle" />
                        <!-- RESOURCES -->
                        <!-- resource -->
                        <div class="row text-center justify-content-center">
                            <div class="col-md-6  text-md-right">
                                <p class="font-weight-semi-bold">Emergency:</p>
                            </div>
                            <div class="col-md-6 text-md-left justify-content-md-start">
                                <p><a class="link-primary-color" href="tel:911">911</a></p>
                            </div>
                        </div>
                        <!-- / end resource -->
                        <!-- resource -->
                        <div class="row text-center justify-content-center">
                            <div class="col-md-6  text-md-right">
                                <p class="font-weight-semi-bold">National Suicide Prevention Lifeline:</p>
                            </div>
                            <div class="col-md-6 text-md-left justify-content-md-start">
                                <p><a class="link-primary-color" href="tel:8002738255">800-273-8255</a></p>
                            </div>
                        </div>
                        <!-- / end resource -->
                        <!-- resource -->
                        <div class="row text-center justify-content-center">
                            <div class="col-md-6  text-md-right">
                                <p class="font-weight-semi-bold">Suicide and Life Crisis Chat (hearing impaired):</p>
                            </div>
                            <div class="col-md-6 text-md-left justify-content-md-start">
                                <p><a  class="link-primary-color" href="https://suicidepreventionlifeline.org/chat/">Click here to chat</a></p>
                            </div>
                        </div>
                        <!-- / end resource -->
                        <!-- resource -->
                        <div class="row text-center justify-content-center">
                            <div class="col-md-6  text-md-right">
                                <p class="font-weight-semi-bold">National Domestic Violence Hotline:</p>
                            </div>
                            <div class="col-md-6 text-md-left justify-content-md-start">
                                <p><a  class="link-primary-color" href="tel:8007997233">800-799-7233</a></p>
                            </div>
                        </div>
                        <!-- / end resource -->
                        <!-- resource -->
                        <div class="row text-center justify-content-center">
                            <div class="col-md-6  text-md-right">
                                <p class="font-weight-semi-bold">Self-Harm Hotline:</p>
                            </div>
                            <div class="col-md-6 text-md-left justify-content-md-start">
                                <p><a class="link-primary-color" href="tel:8003668288">800-366-8288</a></p>
                            </div>
                        </div>
                        <!-- / end resource -->
                    </div>
                    <!-- / end  RESOURCES -->
                    <div class="overflow-hidden text-center">
                        <partial name="_CallToActionDark" />
                    </div>
                </section>
                <!-- / end  E M E R G E N C Y  R E S O U R C E S -->
            </div>
        </section>
    </main>
<!-- / end  M A I N -->
