
@{
    ViewData["Title"] = "FAQs - Frequently Asked Questions";
    ViewData["HeaderTitle"] = "FAQs";
    ViewData["HeaderLine1"] = "";
    ViewData["HeaderLine2"] = "Intelligent Mental Wellness Platform";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/Discussion.png)";
    ViewData["PageTitle"] = "Frequently Asked Questions";
    ViewData["PageSubTitle"] = "";
    ViewData["TM_PageSubTitle"] = "";
    ViewData["PageIntro"] = " ";
    ViewData["PageDown"] = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
<main data-zanim-timeline="{}" data-zanim-trigger="scroll">
    <partial name="_Header" />
    <!-- ########## F A Q S ########## -->
    <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
        <div class="container">
            <partial name="_PageTitle" />
            <!-- QUESTIONS -->
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- question -->
                    <div>
                        <div class="overflow-hidden">
                            <h6 class="text-transform-none fs-0 font-weight-semi-bold">What is a Mental Wellness Clinical Assessment?</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0">A Mental Wellness Clinical Assessment is the process through which a Mental Wellness Professional uses their experience and the tools of their profession to determine a patient’s level of Mental Health. Like a Primary Care Physician uses labs to help diagnose health problems in a patient, a Mental Wellness Professional will use clinical assessments to help diagnose a mental illness.</p>
                            <p class="mb-0">The Previdence Mental Wellness Clinical Assessment tools assist Mental Wellness Professionals in combining their expertise and the best available clinical testing to give the best possible diagnosis for their patients.</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="my-3"/>
                        </div>
                    </div>
                    <!-- / end question -->
                    <!-- question -->
                    <div>
                        <div class="overflow-hidden">
                            <h6 class="text-transform-none fs-0 font-weight-semi-bold">What is a Mental Wellness Clinical Decision Support System (CDSS)?</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0">A decision support system (DSS) is a set of standardized protocols designed to assist professionals in making decisions based on industry established best practices. These systems automate complex decision trees to assist professionals in arriving at proper conclusions more quickly and more consistently. In the medical industry a Clinical Decision Support System (CDSS) assists medical professionals in applying the standards of care accepted by the medical industry. This promotes maximized patient outcome, minimizes human error, and reduces professional liability.</p>
                            <p class="mb-0">The Previdence Clinical Decision Support System (Previdence CDSS) also utilizes machine learning to analyze current processes and recommend new procedures for best possible future outcomes. These patterns for improvement are often difficult for a professional to see without the aid of a tool like Previdence CDSS.</p>
                            <p class="mb-0">A Clinical Decision Support System (CDSS) may also be referred to as a Clinical Decision Support Program (CDSP or CDS program).</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="my-3"/>
                        </div>
                    </div>
                    <!-- / end question -->
                    <!-- question -->
                    <div>
                        <div class="overflow-hidden">
                            <h6 class="text-transform-none fs-0 font-weight-semi-bold">What is Behavioral Risk?</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0">A behavioral risk is any behavior that exerts a dangerous influence on a person’s own health and/or the health of others. Some examples are smoking, alcohol abuse, drug abuse, eating disorders, domestic violence, homicides, sexual abuse, and more.</p>
                            <p class="mb-0">Previdence Behavioral Risk Assessment Technology allows an individual to be assessed for potential risk to themselves or others because of mental illness. This helps reduce the possibility of someone doing harm to themselves or others through risky behavior caused by mental illness.</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="my-3"/>
                        </div>
                    </div>
                    <!-- / end question -->
                    <!-- question -->
                    <div>
                        <div class="overflow-hidden">
                            <h6 class="text-transform-none fs-0 font-weight-semi-bold">What is a Behavioral Risk Factor?</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0">A Behavioral Risk Factor is a criterion or set of criteria used to measure the level of risk a dangerous behavior may pose in a person’s life and/or in the lives of others.</p>
                            <p class="mb-0">Previdence Behavioral Risk Assessment Technology uses Behavioral Risk Factors to identify risk that a person’s mental illness may create. This helps reduce things like suicide, domestic violence, and homicide.</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="my-3"/>
                        </div>
                    </div>
                    <!-- / end question -->
                    <!-- question -->
                    <div>
                        <div class="overflow-hidden">
                            <h6 class="text-transform-none fs-0 font-weight-semi-bold">What is a Correlative Algorithm?</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0">A Correlative Algorithm is a statistical formula that measures the relationship between two or more factors. In machine learning correlative algorithms are used to better understand the potential outcomes of these relationships.</p>
                            <p class="mb-0">Previdence Mental Wellness software uses correlative algorithms and machine learning to optimize a Mental Wellness Professional’s ability to assess a patient’s mental health and any risks that may be associated with their mental state. These algorithms are also used to create treatment plans designed to maximize patient outcome.</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="my-3"/>
                        </div>
                    </div>
                    <!-- / end question -->
                    <!-- question -->
                    <div>
                        <div class="overflow-hidden">
                            <h6 class="text-transform-none fs-0 font-weight-semi-bold">What is a Mental Wellness Risk Assessment?</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0">A Mental Wellness Risk Assessment is the process through which a mental Wellness professional estimates the risk of harm a person’s mental health can have towards themselves or others.</p>
                            <p class="mb-0">Previdence Mental Wellness Risk Assessments allow a mental Wellness professional to identify, treat, and track the risk of harm an individual may have.</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="my-3"/>
                        </div>
                    </div>
                    <!-- / end question -->
                    <!-- question -->
                    <div>
                        <div class="overflow-hidden">
                            <h6 class="text-transform-none fs-0 font-weight-semi-bold">What is a Behavior Risk Assessment?</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0">A Behavior Risk Assessment is the process through which a mental Wellness professional estimates the risk of harm a person’s mental health can have towards themselves or others.</p>
                            <p class="mb-0">Previdence Behavior Risk Assessments allow a mental Wellness professional to identify, treat, and track the risk of harm an individual may have.</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="my-3"/>
                        </div>
                    </div>
                    <!-- / end question -->

                </div>
            </div>
            <div class="text-center">
                <partial name="_CallToActionDark" />
            </div>
            <!-- / end  QUESTIONS -->
            <!-- MORE QUESTIONS -->
            @*<div class="row justify-content-center mt-5">
                    <div class="col-lg-7 text-center">
                        <form>
                            <h5>More questions?</h5>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="10" placeholder="Your Question"></textarea>
                            </div>
                            <button class="btn btn-dark btn-block hvr-sweep-top">Ask Now</button>
                        </form>
                    </div>
                </div>*@
            <!-- / end  MORE QUESTIONS -->
        </div>
        <!-- / end .container-->

    </section>
    <!-- / end  F A Q S -->
</main>
<!-- / end  M A I N  C O N T E N T -->
