<!-- ##########  C L I E N T S  ########## -->
<section class="bg-black py-6 clients" id="clientBanner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="owl-carousel owl-carousel-theme owl-theme owl-nav-outer owl-dot-round owl-theme-white" data-options='{"loop":true,"autoplay":true,"touchDrag":true,"items":1,"autoplayHoverPause":true,"responsiveClass":true,"autoplaySpeed":800,"smartSpeed":600,"responsive":{"0":{"nav":false,"items":3,"dots":true},"576":{"items":4},"992":{"nav":true,"items":6,"dots":false}}}'>
                    <div class="item"><img class="w-75 mx-auto opacity-50" src="../img/logo/clients/DHA.png" alt="" /></div>
                    <div class="item"><img class="w-75 mx-auto opacity-50" src="../img/logo/clients/DoD2.png" alt="" /></div>
                    <div class="item"><img class="w-75 mx-auto opacity-50" src="../img/logo/clients/WTU.png" alt="" /></div>
                    @*<div class="item"><img class="w-75 mx-auto opacity-50" src="../img/logo/clients/DoD.png" alt="" /></div>*@
                    <div class="item"><img class="w-75 mx-auto opacity-50" src="../img/logo/clients/WSD.png" alt="" /></div>
                    <div class="item"><img class="w-75 mx-auto opacity-50" src="../img/logo/clients/TCoJC.png" alt="" /></div>
                    <div class="item"><img class="w-75 mx-auto opacity-50" src="../img/logo/clients/TCSD.png" alt="" /></div>
                    <div class="item"><img class="w-75 mx-auto opacity-50" src="../img/logo/clients/OCPD.png" alt="" /></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / end  C L I E N T S  -->
