<!-- discount link -->
<section class="mt-0 mb-5 p-0">
    <div class="row m-0 p-0 justify-content-center">
        <div class="col-sm-6 col-lg-4 mb-3 text-center justify-content-center">
            <a class="btn btn-outline-dark hvr-sweep-top mt-0 px-4" asp-area="" asp-controller="DiscountEligibility" asp-action=@ViewData["Discount"]>Discount Eligibility</a>
        </div>
    </div>
</section>
<!-- / end  discount link -->