<!-- ########## E M E R G E N C Y  R E S O U R C E S  L I N K ########## -->
<section class="text-center py-3">
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-8 mb-1">
            <p class="font-weight-bold">If this is an emergency, crisis or you or anyone else is in danger, <a class="link-primary-color" asp-area="" asp-controller="Home" asp-action="EmergencyResources">click here</a> for resources that can offer immediate help. This site does not offer emergency services.</p>
        </div>
        <div class="col-2"></div>
    </div>
</section>
<!-- / end  E M E R G E N C Y  R E S O U R C E S  L I N K  -->
