<!-- ########## F O O T E R ########## -->
<section class="text-center bg-black py-3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-auto mb-1 mb-md-0">
                <p class="mb-0 text-700"> Previdence, Corporation &copy; @DateTime.Now.Year<span class="mx-2"> | </span>v2.0.1</p>
            </div>
            <div class="col-12 col-md-auto">
                <p><a class="mb-0 text-700 hover-color-white" asp-area="" asp-controller="Agreements" asp-action="PrivacyPolicy">Privacy Policy</a> | <a class="mb-0 text-700 hover-color-white" asp-area="" asp-controller="Agreements" asp-action="Index">Agreements</a></p>
            </div>
        </div>
    </div>
    <a class="btn-back-to-top" href="#top" data-fancyscroll><img src="~/img/line-icons/upload-arrow.svg" width="8" alt=""></a>
</section>
<partial name="_EmergencyResourcesLink" />
<!-- / end  F O O T E R -->
