<!-- ########## G D P R  A L E R T ########## -->
<div class="alert cookiealert text-center" role="alert">
    <span class="font-weight-bold text-white">Previdence.com uses cookies to personalize content and to analyze web traffic.</span>
    <button type="button" class="btn btn-sm btn-outline-light hvr-sweep-top px-4 acceptcookies" aria-label="Close"><strong>I Understand</strong></button>
    <br />
</div>
<!-- / end  G D P R  A L E R T -->