<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<meta name="robots" content="noindex">*@
    <partial name="_GoogleAnalytics" />
    <title>@ViewBag.Title | Previdence | Intelligent Mental Wellness Platform</title>
    <partial name="_Favicons" />
    <partial name="_HeadSources" />    
</head>
<body>
    <partial name="_Preloader" />
    <partial name="_TopNavbar" />
    @*<partial name="_CookieConsentPartial" />*@
    @RenderBody()
    <partial name="_Footer" />
    <partial name="_GDPR_Alert" />

    <!-- ########## S C R I P T S - jquery, bootstrap, plugins ########## -->
    <!-- ########## goes at the end of the page for faster loading ########## -->
    <!-- ########## jquery, popper, then bootstrap ##########-->
    @RenderSection("Scripts", required: false)
    <partial name="_Scripts" />
    <!-- / end S C R I P T S -->
</body>
</html>
