<!-- TITLE -->
<section class="text-center text-800 pt-0 pb-0" id="" data-zanim-xs='{"duration":1.5,"delay":0.1}'>
    <div class="container py-0 my-0">
        <div class="row mb-0 pt-0 text-center justify-content-center">
            <div class="col-lg-7">
                <div class="overflow-hidden">
                    <h2 class="fs-sm-5 mb-2 font-weight-medium">@ViewData["PageTitle"]</h2>
                </div>
                <div class="overflow-hidden">
                    <h5 class="mb-2">@ViewData["PageSubTitle"]@Html.Raw(ViewData["TM_PageSubTitle"])</h5>
                </div>
                <div class="overflow-hidden">
                    <hr class="hr-short border-black" />
                </div>
                <p>@ViewData["PageIntro"]</p>
            </div>
        </div>
    </div>
</section>
<!-- / end  TITLE -->
