<!-- ########## S E R V I C E S ########## -->
<section class="text-center pt-0 pb-5" id="Services" data-zanim-timeline="{}" data-zanim-trigger="scroll">
    <div class="container" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
        <!-- SERVICES LIST -->
        <!-- service -->
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <a class="text-decoration-none text-800" asp-area="" asp-controller="Services" asp-action="Assess">
                    <div class="overflow-hidden">
                        <div class="service-item py-3 py-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4"><i class="material-icons md-48 md-dark">assignment</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2">Assess Mental Health</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal">The Previdence Intelligent Assessment Engine&trade; assesses the mental health of an individual through evidence-based and research-based algorithms. It then gives back assessment risk level estimates based on the DSM and other mental wellness established protocols.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- / end  service -->
            <!-- service -->
            <div class="col-sm-6 col-lg-4 mb-3">
                <a class="text-decoration-none text-800" asp-area="" asp-controller="Services" asp-action="Identify">
                    <div class="overflow-hidden">
                        <div class="service-item py-3 py-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4"><i class="material-icons md-48 md-dark">person</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2">Identify Behavioral Risk</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal">The Previdence Intelligent Risk Estimate&trade; Engine uses assessments to identify possible mental illnesses in an individual and the behavioral risk that can be associated with them. The Previdence Risk Estimation Engine then uses this data to calculate an approximated level of potential harm to self or others that might exist.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- / end  service -->
            <!-- service -->
            <div class="col-sm-6 col-lg-4 mb-3">
                <a class="text-decoration-none text-800" asp-area="" asp-controller="Services" asp-action="ManageSafety">
                    <div class="overflow-hidden">
                        <div class="service-item p-y3 py-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4"><i class="material-icons md-48 md-dark">security</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2">Manage Safety</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal">The Previdence Intelligent Safety Plan Generator&trade; creates a customized safety plan based on the individual’s assessed levels of behavioral risk to themselves and others. This plan is based on organizational policy, law, and industry established procedures in mental wellness.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- / end  service -->
            <!-- service -->
            <div class="col-sm-6 col-lg-4 mb-3">
                <a class="text-decoration-none text-800" asp-area="" asp-controller="Services" asp-action="ManageTreatment">
                    <div class="overflow-hidden">
                        <div class="service-item p-y3 py-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4"><i class="material-icons md-48 md-dark">healing</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2">Manage Treatment</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal">The Previdence Intelligent Treatment Plan Generator&trade; creates a customized treatment plan based on the individual’s needs and established mental wellness protocols. When needed, it also creates a risk management plan based on policy, law, and industry established procedures.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- / end  service -->
            <!-- service -->
            <div class="col-sm-6 col-lg-4 mb-3">
                <a class="text-decoration-none text-800" asp-area="" asp-controller="Services" asp-action="Monitor">
                    <div class="overflow-hidden">
                        <div class="service-item py-3 py-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4"><i class="material-icons md-48 md-dark">insert_chart</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2">Monitor Progress</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal">The Previdence Intelligent Analytics Engine&trade; monitors Key Progress Indicators in an individual's treatment. This allows the organization to know when an individual is or is not responding treatment.  This technology also shows when an individual is not participating in or receiving treatment.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- / end  service -->
            <!-- service -->
            <div class="col-sm-6 col-lg-4 mb-3">
                <a class="text-decoration-none text-800" asp-area="" asp-controller="Services" asp-action="Automate">
                    <div class="overflow-hidden">
                        <div class="service-item py-3 py-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4"><i class="material-icons md-48 md-dark">sync</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2">Automate Compliance</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal">By simplifying and automating compliance, Previdence can help to greatly reduce liability and increase positive treatment outcomes. Through simplifying the processes of compliance to various professional, organizational, state, and federal protocols, procedures, and regulations, Previdence saves time, money, and lives.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- / end  service -->
        </div>
        <!-- / end  SERVICES LIST -->
        <partial name="_CallToActionDark" />
    </div>
</section>
<!-- / end  S E R V I C E S -->
