<!-- Under Construction -->
<section class="text-center text-800 pt-0 pb-5" id="" data-zanim-xs='{"duration":1.5,"delay":0.1}'>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">

                <div class="text-center justify-content-center">
                    <div class="overflow-hidden">
                        <h5 class="">More Coming Soon</h5>
                    </div>
                    <div class="overflow-hidden">
                        <img src="~/img/illustration/under-construction.png" height="200" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- / end  Under Construction -->


