@{
    ViewBag.Title = "Assess Mental Health";
}
<!-- ******* Page Content Render ******* -->
<img class="img-fluid rounded img-thumbnail mb-2" src="~/Images/gauges_1291x423.png" alt="picture of gauges">
<div style="text-align:center">
    <h3 class="previdence-white">Previdence Assessment Technology</h3>
    <h6 class="previdence-white">Confident Decisions, Confident Results<span style="font-size:small"> &#8482</span></h6>
</div>
<div>
    <h5>Better Understanding</h5>
    <p>Doctors run tests to assess the health of their patients, this way the doctor can make the best diagnosis possible. This is true for mental illness as well. Proper tests show what mental difficulties a person may be experiencing.</p>
    <p>Previdence has taken the mental health criteria established by psychiatric and psychological authorities and incorporated them into the software assessment technology.</p>
    <p>This assessment technology is designed to quickly and effectively diagnose potential mental illness. This gives licensed professionals using the software the best possible opportunity for correct diagnosis of their patients.</p>
    <h5>Professional Tools</h5>
    <p>People diagnosing and treating themselves, has become a larger and larger problem in mental health care. This is typically a result of reputable information they find on the internet or in TV advertising. Without the aid of a professional clinician and effective diagnostic tools to guide them, an inexperienced individual cannot receive the care they deserve.</p>
    <h5>Increase Patient Outcome</h5>
    <p>Previdence Assessment Technology gives the clinician a clear overall view of the issues a patient may be facing in their life. This allows the clinician to guide the patient through proper care and recovery. The Previdence Assessment technology also aids the clinician in creating treatment protocol based on accepted standards of care for effective short and long-term recovery.</p>
    <h5>Identify Risk</h5>
    <p>Over the last 12 years in helping to treat over 180,000 people, Previdence has developed a scoring technology that allows certain patient responses to be given greater importance in the assessment results. This helps the clinician identify factors that may be of greater importance or of higher risk to a patient. These factors can include depression, self-harm, suicide, homicide, and other risks to themselves or society.</p>
</div>
<!-- /Page Content -->
