@{
    ViewBag.Title = "Identify Mental Illness";
}
<!-- ******* Page Content ******* -->
<img class="img-fluid rounded img-thumbnail mb-4" src="~/Images/upset_man2_1396x458.png" alt="picture of upset man">
<div style="text-align:center">
    <h3 class="previdence-white">Previdence Mental Illness Identification</h3>
    <h6 class="previdence-white">Confident Decisions, Confident Results<span style="font-size:small"> &#8482</span></h6>
</div>
<h5>Established Results</h5>
<p>Previdence has over 25 years of being able to help identify possible mental illness and behavioral risks. This type of experience is crucial in working to help people heal and reduce misplaced liability from unidentified and untreated mental illness.</p>
<h5>Assessing Illness and Risk</h5>
<p>A competent mental health assessment can identify mental illness by correlating a person’s behavior with its corresponding mental illness and accompanying risks. Identifying the illness and possible risks allows treatment to begin thus allowing for progress to prevent the accompanying dangers and heal the patient. Early identification is key in the working to prevent the dangers mental illness can bring to the patient and to those around them. For example, we know that if a person has thought about suicide and created a plan for how they would carry out their suicide they are at a much higher risk to die by suicide. This same type of correlation can be found in committing harm to others.</p>
<!-- /Page Content -->
