@{
    ViewBag.Title = "Automatic Clinical Note Generation";
}
<!-- ******* Page Content Render ******* -->
<img class="img-fluid rounded img-thumbnail mb-4" src="~/Images/touch_of_a_finger_1453x543.png" alt="picture of man touching the open air">
<div style="text-align:center">
    <h3 class="previdence-white">Previdence Clinical Notes Automation</h3>
    <h6 class="previdence-white">Confident Decisions, Confident Results<span style="font-size:small"> &#8482</span></h6>
</div>
<div>
    <h5>Save Time</h5>
    <p>Save hours of time every week with the assistance of our Clinical Note Generation technology. Previdence software automatically generates the repetitive parts of the clinical notes and then allows the clinician to add their own modifications and expertise to the notes before you save them.</p>
    <p>This allows you to avoid repetitive, unnecessary writing and focus on the patient. It also allows the clinician to take less time writing your clinical notes and more time doing other things.</p>
    <h5>Protocol Automation</h5>
    <p>Previdence uses the patient responses from their assessments to generate notes based on corresponding diagnostic and treatment protocols.</p>
</div>
<!-- /Page Content -->
