@{
    ViewBag.Title = "Mental Health Progress Reports";
}
<!-- ******* Page Content ******* -->
<img class="img-fluid rounded img-thumbnail mb-4" src="~/Images/vatican_stairwell_1400x511.png" alt="picture of Vatican Spiral Stairwell">
<div style="text-align:center">
    <h3 class="previdence-white">Previdence Treatment Progress Reports</h3>
    <h6 class="previdence-white">Confident Decisions, Confident Results<span style="font-size:small"> &#8482</span></h6>
</div>
<div style="text-align:center">
    <img height="100px" width="100px" src="~/Images/under-construction-2408060_1280.png" />
</div>
<!-- /Page Content -->
