@{
    ViewBag.Title = "Treat Mental Illness";
}
<!-- ******* Page Content Render ******* -->
    <img class="img-fluid rounded img-thumbnail mb-2" src="~/Images/therapist2_1333x625.png" alt="picture of female therapist holding a laptop">
    <div style="text-align:center">
        <h3 class="previdence-white">Previdence Treatment Protocol Automation</h3>
        <h6 class="previdence-white">Confident Decisions, Confident Results<span style="font-size:small"> &#8482</span></h6>
    </div>
    <div>
        <h5>Treatment Protocol Impacts Recovery</h5>
        <p>Treatment protocol has an impact on how effectively and quickly an individual can heal from mental illness. When mental health providers follow proper treatment protocol, they are ensuring their patients receive the best mental health has to offer.</p>
        <h5>Confident Decisions</h5>
        <p>Previdence uses the latest technology and the best treatment protocol to ensure each patient gets the best treatment possible. Whether you are a new clinician or an experienced one, Previdence allows you to treat patients with confidence.</p>
        <h5>Limit Liability</h5>
        <p>Compliance to established protocols also helps to limit misplaced liability when a patient is not responsive to treatment or produces an undesirable result from treatment.</p>
        <h5>Working for the Future</h5>
        <p>Previdence is continuously researching mental health treatment protocols to find patterns that optimize recovery. These techniques utilize the best in mental health therapy and mental pharmaceutical treatments.</p>
    </div>
<!-- /Page Content Render -->
