@{
   ViewBag.Title = "Education Subscription Eligibility";
   ViewBag.HeaderTitle = "Education Eligibility";
   ViewBag.HeaderLine1 = "";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/Dawn_of_Healing.jpg)";
   ViewBag.PageTitle = "Previdence Education Subscription";
   ViewBag.PageSubTitle = "Eligibility Definition";
   ViewBag.TM_PageSubTitle = "";
   ViewBag.PageIntro = "";
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## S U B S C R I P T I O N  E L I G I B I L I T Y  P O L I C Y ########## -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <div class="row justify-content-center text-left">
                    <div class="col-lg-7">

                        <div class="overflow-hidden">
                            <p>All Previdence eligible education customers must be located or reside in the United States.  Qualified Educational Users are those entities that both have an educational purpose or mission and meet the criteria specified below.  If a controversy exists as to an organization's eligibility, Previdence retains the right to determine in its sole discretion the eligibility of the organization for the specific transaction in question.  The following are eligible to acquire Previdence academic edition products in the programs indicated and are defined as qualified educational users:</p>
                        </div>

                        <div class="overflow-hidden">
                            <H5>Qualified Education Uses</H5>
                            <ol type="A">
                                <li>
                                    <strong>Educational Institutions:</strong> Defined as an accredited institution organized and operated exclusively for the purpose of teaching its enrolled students (“Educational Institutions”). An accredited institution must be:
                                    <ol>
                                        <li>A public or private K-12, vocational school, correspondence school, junior college, college, university, or scientific or technical school that is either institutionally accredited by an accrediting agency nationally recognized by the U.S. Secretary of Education or, in the case of public K-12 institutions only, recognized or approved by the Department of Education of the State in which it is located. OR</li>
                                        <li>A preschool meeting all the following criteria: (i) is an early childhood program incorporated for the purpose of providing educational services to children between two and five years of age, and which serves minimum of ten such children; and (ii) has been in operation for at least one year.</li>
                                    </ol>
                                </li>
                                <li><strong>Administrative Offices or Boards of Education:</strong> Defined as (a) district, regional and state administrative offices of public Educational Institutions.  (b) administrative entities, controlled by, and organized and operated exclusively for the administration of, private Educational Institutions, or (c) other state or local government entities, nearly all of whose activities consist of administrative support of a nature that advances academic learning, for public Educational Institutions.</li>
                                <li><strong>Public Libraries:</strong> Must meet all of the following criteria: (i) primarily provide general library services without charge to all residents of a given community, district or region; (ii) supported by public or private funds; (iii) make its basic collections and basic services available to the population of its legal service area without charges to individual users, but may impose charges on users outside its legal service area; and (iv) may or may not provide products and services, beyond its basic services, to the public at large with or without individual charges.</li>
                                <li><strong>Public Museums:</strong> Must meet all the following criteria: (i) are a public or private agency or institution organized on a permanent basis for essentially education or aesthetic purposes; (ii) utilize a professional staff; and (iii) own or utilize tangible objects, care for them and exhibit them to the public on a regular basis.</li>
                            </ol>
                        </div>
                        <div class="overflow-hidden">
                            <p>All United States territories such as Puerto Rico, Guam, and Virgin Islands are eligible under this definition.</p>
                            <p><strong>Special note regarding Hospitals, Wellness Systems, Federal Government Military Schools/Training Facilities, and Research Laboratories:</strong></p>
                            <p>Hospitals, Wellness systems and research laboratories (including independent research laboratories or research laboratories affiliated with an eligible education customer or government agency) are NOT eligible to acquire academic edition products unless they are wholly owned and operated by a qualified Educational Institution as defined above in Sections A and B.  "Wholly owned and operated" means that the Educational Institution is the sole owner of said hospital, Wellness system or research laboratory and the only entity exercising control over said institution's day-to-day operations. Eligible hospitals, Wellness systems, and research laboratories are NOT permitted to purchase under a School Agreement and are NOT permitted to be included as part of an Educational Institution’s School Agreement even if they are wholly owned and operated by the Educational Institution. Military schools or other training facilities operated by the United States federal government that do not grant degrees are not eligible to acquire academic edition products.</p>
                        </div>

                    </div>
                </div>
                <div class="overflow-hidden text-center">
                    <partial name="_CallToActionDark" />
                </div>
            </div>
        </section>
        <!-- / end  S U B S C R I P T I O N  E L I G I B I L I T Y  P O L I C Y -->
    </main>
<!-- / end M A I N  C O N T E N T -->
