@{
   ViewBag.Title = "Government Subscription Eligibility";
   ViewBag.HeaderTitle = "Government Eligibility";
   ViewBag.HeaderLine1 = "";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/Dawn_of_Healing.jpg)";
   ViewBag.PageTitle = "Previdence Government Subscription";
   ViewBag.PageSubTitle = "Eligibility Definition";
   ViewBag.TM_PageSubTitle = "";
   ViewBag.PageIntro = "";
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## S U B S C R I P T I O N  E L I G I B I L I T Y  P O L I C Y ########## -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <div class="row justify-content-center text-left">
                    <div class="col-lg-7">

                        <div class="overflow-hidden">
                            <p>Organization that fall into one or more of the categories or criteria set forth below are eligible to participate in Previdence discount subscription programs specifically designed for government organizations.</p>                            
                        </div>

                        <div class="overflow-hidden">
                            <p>An “eligible entity” means any organization that does not operate for profit and that falls into one of the following categories:</p>
                            <ol>
                                <li><strong>Federal</strong> – A bureau, office, agency, department or other entity of the United States government (including executive, legislative, and judicial branches).</li>
                                <li>
                                    <strong>State and Local</strong>
                                    <ol type="a">
                                        <li>Any executive, legislative or judicial government agency, bureau, department, office, instrumentality, division, or other entity of a state or local government.</li>
                                        <li>Any county, borough, commonwealth, city, municipality, town, township, special purpose district, or other similar type of governmental instrumentality established by the laws of a state and located within the state jurisdiction and geographic boundaries.</li>
                                        <li>Any other entity in a state expressly authorized by the laws of the state to purchase under state contracts.</li>
                                    </ol>
                                </li>
                                <li><strong>Tribal Entity</strong> – A federally recognized tribal entity performing governmental functions eligible for funding and services from the U.S Department of Interior by virtue of its status as an Indian tribe, or, in Alaska, a Native village or Alaska Regional Native Corporation.</li>
                            </ol>
                        </div>

                        <div class="overflow-hidden">
                            <p>If an organization fits into one of the categories above but operates for profit, the following criteria applies to determine whether the organization in an eligible entity:</p>
                            <ol>
                                <li>Do the revenues/profits go solely to the government (or do they also go to the private shareholders)?</li>
                                <li>Is the organization in question exempt from corporation tax?</li>
                                <li>Is the organization financed more than 50% by the government (i.e., does it derive less than 50% of its funding from commercial activities)</li>
                            </ol>
                        </div>

                        <div class="overflow-hidden">
                            <p>If the answer to all of these questions is “yes,” then the organization in an eligible entity. If the answer to any of these questions is “no,” then the organization is not an eligible entity. Generally, government owned corporations, state-owned enterprises and government-owned organizations (whether incorporated or not) undertaking commercial activities (e.g., telecommunications, banking, transportation, etc.) do not qualify as eligible entities.</p>
                            <p>If an organization loses its status as an eligible entity after entering into a discount subscription agreement with Previdence that requires it to be an eligible entity, the organization may continue to use the products and services for which it is licensed under its agreement with Previdence, but it may not submit a new order for products or services under such an agreement.</p>
                            <p>Previdence offers government pricing to eligible public sector organizations (as defined and described above). Subject to such additional eligibility requirements as maybe set forth in a particular discount subscription agreement and other discounts that may be available under other Previdence discount subscription programs.</p>
                        </div>

                    </div>
                </div>
                <div class="overflow-hidden text-center">
                    <partial name="_CallToActionDark" />
                </div>
            </div>
        </section>
        <!-- / end  S U B S C R I P T I O N  E L I G I B I L I T Y   P O L I C Y -->
    </main>
<!-- / end M A I N  C O N T E N T -->
