/*---------------------------------------------------------------
|   Flex
---------------------------------------------------------------*/

.flex-center {
  justify-content: center;
  align-items: center;
}