
@{
    ViewData["Title"] = "About";
}

<!--
####################################################
M A I N  C O N T E N T
####################################################
-->
<main>
    <!--
    ####################################################
    H E A D E R
    ####################################################
    -->
    <section class="overflow-hidden py-0" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="bg-holder overlay parallax" style="background-image:url(../img/headers/header-kendell.png);background-position: center 58%;">
        </div>
        <!-- / bg-holder-->
        <div class="header-overlay"></div>
        <div class="container">
            <div class="d-flex align-items-center pt-10 pb-8">
                <div class="header-text">
                    <div class="overflow-hidden">
                        <h1 class="display-3 text-white fs-4 fs-md-6" data-zanim-xs='{"duration":2,"delay":0}'>About Us</h1>
                    </div>
                    <div class="overflow-hidden">
                        <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>
                            <br /><span class="logo-secondary-style-light fs-6 ">pr<span class="logo-primary-style-light">e</span>vidence<sup class="fs-3 font-weight-light">&reg;</sup></span> <br />
                            <span class="fs-0">Personalized Mental Wellness Platform</span><br class="d-block d-md-none">
                        </p>
                    </div>
                    <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">learn more</a>&nbsp&nbsp&nbsp<a class="btn btn-sm btn-light hvr-sweep-top mt-5 px-4" href="#software">Get Started</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- / end  H E A D E R  -->
    <!--
    ####################################################
    A B O U T
    ####################################################
    -->
    <!-- STORY -->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">
        <div class="container">
            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>about us</h2>
                    </div>
                    <div class="overflow-hidden">
                        <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
                    </div>
                </div>
            </div>
            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="overflow-hidden">
                        <p class="fs-3 ls-1 text-black mb-3 text-uppercase" data-zanim-xs='{"duration":1.5,"delay":0}'>saving lives, one mind at a time<sup>&trade;</sup></p>
                    </div>
                    <p class="mb-0 text-left" data-zanim-xs='{"duration":1.5,"delay":0}'>
                        The initial concept of the Previdence Personalized Wellness Platform was first created by clinicians as a paper-based decision support system (DSS) to estimate and manage behavioral risk. These Previdence DSS tools created a more effective way to provide consistent care with better patient outcomes.
                        <br />
                        <br />After optimizing the paper-based system for 15 years, the Previdence DSS was converted to an Electronic Decision Support System (eDSS) in 2002 to streamline the healing process even more. This further increased treatment effectiveness by automating the creation of individualized patient treatment management plans and intelligent reporting tools.
                        <br />
                        <br /> In a partnership with the US Army, Previdence has helped over 180,000 soldiers in 180 locations around the world. The suicide rate of soldiers that participate in the program was reduced by 56%. Previdence has also helped make significant decreases in domestic violence and other harmful behaviors.
                    </p>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <!-- / end container-->
        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-dark hvr-sweep-top mt-5 px-4" href="#software">learn more</a>&nbsp&nbsp&nbsp<a class="btn btn-sm btn-dark hvr-sweep-top mt-5 px-4" href="#software">Get Started</a></div>
    </section>
    <!-- / end  STORY -->
    <!-- / end  A B O U T-->
</main>
<!-- / end M A I N C O N T E N T -->