
@{
    ViewData["Title"] = "contact";
}

<!--
####################################################
M A I N  C O N T E N T
####################################################
-->
    <main>
        <!--
    ####################################################
    H E A D E R
    ####################################################
    -->
        <section class="overflow-hidden py-0" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="bg-holder overlay parallax" style="background-image:url(../img/headers/header-contactv2.png);background-position: center 58%;">
            </div>
            <!-- / bg-holder-->
            <div class="header-overlay"></div>
            <div class="container">
                <div class="d-flex align-items-center pt-10 pb-8">
                    <div class="header-text">
                        <div class="overflow-hidden">
                            <h1 class="display-3 text-white fs-4 fs-md-6" data-zanim-xs='{"duration":2,"delay":0}'>Contact Us</h1>
                        </div>
                        <div class="overflow-hidden">
                            <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>
                                <br /><span class="logo-secondary-style-light fs-6">pr<span class="logo-primary-style-light">e</span>vidence<sup class="fs-3 font-weight-light">&reg;</sup></span> <br />
                                <span class="fs-0">Personalized Mental Wellness Platform</span><br class="d-block d-md-none">
                            </p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">learn more</a>&nbsp&nbsp&nbsp<a class="btn btn-sm btn-light hvr-sweep-top mt-5 px-4" href="#software">Get Started</a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / end  H E A D E R  -->       

        <!--
        ####################################################
        C O N T A C T
        ####################################################
        -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 text-md-right">
                        <h5 class="ls-1 mb-1" data-zanim-xs='{"duration":2,"delay":0}'>Call Us</h5>
                        <p class="mb-3" data-zanim-xs='{"duration":2,"delay":0}'>
                            office: <a class="text-600" href="tel:8016213062">801 621 3062 </a>
                            <br />support: <a class="text-600" href="tel:8019010580">801 901 0580 </a>
                        </p>
                        <h5 class="ls-1 mb-1" data-zanim-xs='{"duration":1.5,"delay":0}'>Email Us</h5>
                        <p class="mb-3" data-zanim-xs='{"duration":1.5,"delay":0}'>
                            <a class="text-600" href="mailto:info@previdence.com">info@previdence.com</a>
                        </p>
                    </div>
                    <div class="col-md-1 text-md-right">

                        <div style="width: 205px">
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 text-md-left">
                        <h5 class="ls-1 mb-3" data-zanim-xs='{"duration":1.5,"delay":0}'>Visit With Us</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.8379621144963!2d-111.94592664853097!3d41.15988697918403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875306710c104be3%3A0xc013b6bb2ccbb593!2sprevidence!5e0!3m2!1sen!2sus!4v1539959224491" width="600" height="450" frameborder="0" style="border:0" marginheight="0" marginwidth="0" allowfullscreen="" data-zanim-xs='{"duration":1.5,"delay":0}'></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- / end  C O N T A C T -->
    </main>
<!-- / end M A I N C O N T E N T -->
