@{
    ViewBag.Title = "Frequently Asked Questions";
}
<!-- ******* Page Content Render ******* -->
    <h3 class="text-center py-1">Answers to Frequently Asked Questions</h3>
    <!-- ******* FAQs ******* -->
    <div>
        <section id="FAQ1">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0"><a href="http://previdence.com/home/FAQs#FAQ1">What is a Mental Health Clinical Assessment?</a></h6>
                </div>
                <div class="card-body">
                    <p>A Mental Health Clinical Assessment is the process through which a Mental Wellness Professional uses their experience and the tools of their profession to determine a patient’s level of Mental Health. Like a Primary Care Physician uses labs to help diagnose health problems in a patient, a Mental Wellness Professional will use clinical assessments to help diagnose a mental illness.</p>
                    <p>The Previdence Mental Health Clinical Assessment tools assist Mental Wellness Professionals in combining their expertise and the best available clinical testing to give the best possible diagnosis for their patients.</p>
                </div>
            </div>
        </section>
        <section id="FAQ2">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0"><a href="http://previdence.com/home/FAQs#FAQ2">What is a Mental Health Clinical Decision Support System (MH CDSS or DSS)?</a></h6>
                </div>
                <div class="card-body">
                    <P>A decision support system (DSS) is a set of standardized protocols designed to assist someone in making decisions based on industry established best-practices. These systems automate complex decision trees assisting professionals to arrive at proper conclusions faster and effectively. In the medical industry a Clinical Decision Support System (CDSS) assists medical professionals in applying the standards of care accepted by the medical profession. This promotes maximized patient outcome, minimizes human error, and reduces professional liability.</P>
                    <p>The Previdence Clinical Decision Support System (Previdence CDSS) also utilizes machine learning to analyze current processes and recommend new procedures for best possible future outcomes. These patterns for improvement are often difficult to impossible for a person to see without the aid of a tool like Previdence CDSS.</p>
                </div>
            </div>
        </section>
        <section id="FAQ3">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0"><a href="http://previdence.com/home/FAQs#FAQ3">What is Behavioral Risk?</a></h6>
                </div>
                <div class="card-body">
                    <p>A behavioral risk is any behavior that exerts a dangerous influence on a person’s own health and/or the health of others. Some examples are alcohol abuse, drug abuse, eating disorders, domestic violence, homicides, sexual abuse, and more.</p>
                    <p>Previdence Behavioral Risk Assessment Technology allows an individual to be assessed for risk to themselves or others due to mental illness. Together, with proper treatment from a professional, Previdence helps reduce the possibility of someone committing harm to themselves or others through risky behavior caused by mental illness.</p>
                </div>
            </div>
        </section>
        <section id="FAQ4">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0"><a href="http://previdence.com/home/FAQs#FAQ4">What is Risky Behavior?</a></h6>
                </div>
                <div class="card-body">
                    <p>Risky behaviors are behaviors that expose people to harm or significant risk of harm. Certain types of risky behavior are normal and necessary in living life, some other types of risky behaviors are recreational. Mental Wellness professionals watch for, and work to prevent, risky behaviors that lead to harm to self and/or harm to others.</p>
                    <p>Previdence Behavioral Risk Assessments test for risky behaviors that can lead to self-harm and/or harm to others. These behaviors can include substance abuse, domestic violence, suicide, homicide and other abnormal risky behaviors.</p>
                </div>
            </div>
        </section>
        <section id="FAQ5">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0"><a href="http://previdence.com/home/FAQs#FAQ5">What is a Correlative Algorithm?</a></h6>
                </div>
                <div class="card-body">
                    <p>A correlative algorithm is an equation that establishes the relationship between two or more pieces of information. </p>
                    <p>Previdence Mental Health software uses correlative algorithms to optimize a mental Wellness professional’s ability to assess a patient’s mental health and associated risks to their mental state. Previdence then uses these algorithms to help generate the best treatment protocol for the patient.</p>
                </div>
            </div>
        </section>
        <section id="FAQ6">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0"><a href="http://previdence.com/home/FAQs#FAQ6">What is a Mental Health Risk Assessment?</a></h6>
                </div>
                <div class="card-body">
                    <p>A Mental Health Risk Assessment is the process through which a mental health professional estimates the risk of harm a person’s mental health can have towards themselves or others.</p>
                    <p>Previdence Mental Health Risk Assessments allow a mental health professional to identify, treat, and track the risk of harm an individual may have due to their mental inllness.</p>
                </div>
            </div>
        </section>
        <section id="FAQ7">
            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0"><a href="http://previdence.com/home/FAQs#FAQ7">What is a Behavior Risk Assessment?</a></h6>
                </div>
                <div class="card-body">
                    <p>A Behavior Risk Assessment is the process through which a mental health professional estimates the risk of harm a person’s mental health can have towards themselves or others.</p>
                    <p>Previdence Behavior Risk Assessments allow a mental health professional to identify, treat, and track the risk of harm an individual may have.</p>
                </div>
            </div>
        </section>
    </div>
    <!-- /FAQs -->
<!-- /Page Content Render -->
