@{
    ViewData["Title"] = "Home Page";
}

<!--
####################################################
M A I N  C O N T E N T
####################################################
-->
    <main>
        <!--
        ####################################################
        H E A D E R
        ####################################################
        -->
        <section class="text-center overflow-hidden py-0" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="bg-holder overlay overlay-2 parallax" style="background-image:url(../img/headers/header-1.jpg);" data-rellax-percentage="0.5">
            </div>
            <!--/ end bg-holder-->
            <div class="header-overlay"></div>
            <div class="container">
                <div class="d-flex flex-center vh-100">
                    <div class="header-text">
                        <div class="overflow-hidden">
                            <h1 class="display-3 text-400 fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Healing Begins</h1>
                        </div> 
                        <div class="overflow-hidden">
                            <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>with
                            <br /><span class="fs-7 logo-secondary-style-light">pr<span class="logo-primary-style-light">e</span>vidence<sup class="fs-3 font-weight-light">&reg;</sup></span> <br />
                                <span class="fs-1">Personalized Mental Wellness Platform</span><br class="d-block d-md-none">
                            </p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="#software">learn more</a>&nbsp&nbsp&nbsp<a class="btn btn-sm btn-light hvr-sweep-top mt-5 px-4" href="#software">Get Started</a></div>
                    </div>
                </div>
                <div class="header-indicator-down"><a class="indicator indicator-down opacity-75" href="#software" data-fancyscroll="data-fancyscroll" data-offset="64"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"ease":"Back.easeOut","duration":1,"delay":1.5}'></span></a></div>
            </div>
        </section>
        <!-- / end  H E A D E R  -->

        <!--
        ####################################################
        S E R V I C E S
        ####################################################
        -->
        <section class="text-center" id="software">
            <div class="container">
                <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="col">
                        <div class="overflow-hidden">
                            <span style="font-family:'Josefin Sans'" class="text-lowercase font-weight-bolder fs-7 ls-1 text-black">pr<span class="logo-primary-color">e</span>vidence<sup class="fs-3 font-weight-light">&reg; </sup></span>@*<span style="color:#1F7A8C">int</span><span class="text-uppercase">MH</span>*@
                        </div>
                        <div class="overflow-hidden">
                            <p class="fs-1 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":"1.5","delay":0.1}'>Personalized Mental Wellness Platform</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}' />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <div class="service-item p-3 p-md-4 h-100">
                                <div class="overflow-hidden">
                                    <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0"}'><i class="material-icons md-48 md-dark">assignment</i></div>
                                </div>
                                <div class="overflow-hidden">
                                    <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>Assess</h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.2"}'>Previdence Assessment Technology <br class="d-block d-sm-none"> appraises the mental health of <br class="d-block d-sm-none"> an individual through evidence-based and <br class="d-block d-sm-none"> research-based algorithms. <br class="d-block d-sm-none"> It then identifies possible mental illness and <br class="d-block d-sm-none"> the potential harm that it may cause.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <div class="service-item p-3 p-md-4 h-100">
                                <div class="overflow-hidden">
                                    <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.2"}'><i class="material-icons md-48 md-dark">person</i></div>
                                </div>
                                <div class="overflow-hidden">
                                    <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.30000000000000004"}'>Treat</h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.4"}'>After assessing an individual’s mental health, <br class="d-block d-sm-none"> Previdence generates a customized treatment plan <br class="d-block d-sm-none"> based on established mental Wellness protocols. <br class="d-block d-sm-none"> When needed, it also creates a risk management plan <br class="d-block d-sm-none"> based on policy, law, and industry established procedures.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <div class="service-item p-3 p-md-4 h-100">
                                <div class="overflow-hidden">
                                    <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.3"}'><i class="material-icons md-48 md-dark">insert_chart</i></div>
                                </div>
                                <div class="overflow-hidden">
                                    <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.4"}'>Monitor</h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.5"}'>Previdence Intelligent Analytics and Reporting <br class="d-block d-sm-none"> allows the clinician to see when an individual <br class="d-block d-sm-none"> is not responding to or participating in treatment.</p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- / end container-->
            <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-dark hvr-sweep-top mt-5 px-4" href="#software">learn more</a></div>
        </section>

        <!-- Get Started -->
        <section class="py-6 text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll" id="getstarted">
            <div class="bg-holder overlay overlay-0" style="background-image:url(../img/backgrounds/fun-fact.jpg);background-position: bottom;">
            </div>
            <!--/ end bg-holder-->
            <div class="container">
                <div class="overflow-hidden">
                    <h3 class="text-base text-white" data-zanim-xs='{"duration":1.5,"delay":0}'>Want to Get Started?</h3>
                </div>
                <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.1}'><a class="btn btn-sm btn-light hvr-sweep-top mt-3" href="#"> get started </a></div>
            </div>
            <!-- / end container-->
        </section>
        <!-- / end  Get Started -->
        <!-- / end  S E R V I C E S -->
             
        <!--
        ####################################################
        T E S T I M O N I A L S
        ####################################################
        -->
        <section class="testimonial" id="testimonials">
            <div class="bg-holder overlay overlay-0" style="background-image:url(../img/backgrounds/testimonial.jpg);">
            </div>
            <!--/ end bg-holder-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 mb-4 text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h2 class="fs-md-5 text-white mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Client's testimonial</h2>
                        </div>
                        <div class="overflow-hidden">
                            <p class="fs--1 text-uppercase text-white ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>see what our top valuable clients say about us</p>
                        </div>
                        <div class="overflow-hidden">
                            <hr class="hr-short border-white" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
                        </div>
                    </div>
                    <div class="col-sm-10 col-lg-8 text-center text-md-left px-sm-0">
                        <div class="border rounded px-3 px-sm-4 px-md-6 py-5 mt-5">
                            <div class="testimonial-quote"></div>
                            <div class="rounded-circle testimonial-avatar"></div>
                            <div class="owl-carousel owl-carousel-synced owl-theme owl-nav-outer owl-dot-round owl-theme-white" data-options='{"loop":true,"autoplay":true,"touchDrag":true,"rtl":false,"items":1,"autoplayHoverPause":true,"responsiveClass":true,"autoplaySpeed":800,"smartSpeed":600,"responsive":{"0":{"nav":false,"dots":true},"768":{"nav":true,"dots":false}}}'>
                                <div class="item px-2" data-avatar="~/img/team/9.jpg">
                                    <p class="text-white text-base mt-4 mt-md-0"> Reign superbly blends all the best elements. It offers the power of bootstrap with useful blocks and extensions. It also includes the most elegant typographic features and unique sections which makes our developers incredibly happy.</p>
                                    <div class="row no-gutters justify-content-between align-items-end">
                                        <div class="col-12 col-md mb-3 mb-md-0">
                                            <h4 class="text-white font-weight-normal mb-0 fs-1 ls-0">Peter Gregory</h4>
                                            <p class="fs--1 text-uppercase text-500 mb-0 ls-1">CEO &amp; Founder</p>
                                        </div>
                                        <div class="col-12 col-md-4 text-center text-md-right"><img class="testimonial-company-logo d-inline-block opacity-50" src="~/img/logo/b&amp;w/1.png" alt="" /></div>
                                    </div>
                                </div>
                                <div class="item px-2" data-avatar="~/img/team/10.jpg">
                                    <p class="text-white text-base mt-4 mt-md-0">Reign template is an indispensable collection of powerful tools to do just that. I’m a long-time customer of Reign template and highly recommend it to anyone who is serious about to grow his/her company through web all over the world.</p>
                                    <div class="row no-gutters justify-content-between align-items-end">
                                        <div class="col-12 col-md mb-3 mb-md-0">
                                            <h4 class="text-white font-weight-normal mb-0 fs-1 ls-0">Lily Rose</h4>
                                            <p class="fs--1 text-uppercase text-500 mb-0 ls-1">Customer Support</p>
                                        </div>
                                        <div class="col-12 col-md-4 text-center text-md-right"><img class="testimonial-company-logo d-inline-block opacity-50" src="~/img/logo/b&amp;w/7.png" alt="" /></div>
                                    </div>
                                </div>
                                <div class="item px-2" data-avatar="~/img/team/13.jpg">
                                    <p class="text-white text-base mt-4 mt-md-0">The team behind Reign sure know what they are doing and their responsibility! If you’re looking for managed hosting, you’ll find a stable, secure and so well optimized option in Reign sites and all other products price range.</p>
                                    <div class="row no-gutters justify-content-between align-items-end">
                                        <div class="col-12 col-md mb-3 mb-md-0">
                                            <h4 class="text-white font-weight-normal mb-0 fs-1 ls-0">Richard Mark</h4>
                                            <p class="fs--1 text-uppercase text-500 mb-0 ls-1">Marketing Manager</p>
                                        </div>
                                        <div class="col-12 col-md-4 text-center text-md-right"><img class="testimonial-company-logo d-inline-block opacity-50" src="~/img/logo/b&amp;w/4.png" alt="" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / end container-->
            
        </section>        
        <!-- Customer Carousel -->
        <section class="bg-1000 py-6 clients" id="customers">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="owl-carousel owl-carousel-theme owl-theme owl-nav-outer owl-dot-round owl-theme-white" data-options='{"loop":true,"autoplay":true,"touchDrag":true,"items":1,"autoplayHoverPause":true,"responsiveClass":true,"autoplaySpeed":800,"smartSpeed":600,"responsive":{"0":{"nav":false,"items":3,"dots":true},"576":{"items":4},"992":{"nav":true,"items":6,"dots":false}}}'>
                            <div class="item"><img class="w-75 mx-auto opacity-50" src="~/img/logo/b&amp;w/1.png" alt="" /></div>
                            <div class="item"><img class="w-75 mx-auto opacity-50" src="~/img/logo/b&amp;w/4.png" alt="" /></div>
                            <div class="item"><img class="w-75 mx-auto opacity-50" src="~/img/logo/b&amp;w/6.png" alt="" /></div>
                            <div class="item"><img class="w-75 mx-auto opacity-50" src="~/img/logo/b&amp;w/7.png" alt="" /></div>
                            <div class="item"><img class="w-75 mx-auto opacity-50" src="~/img/logo/b&amp;w/8.png" alt="" /></div>
                            <div class="item"><img class="w-75 mx-auto opacity-50" src="~/img/logo/b&amp;w/9.png" alt="" /></div>
                            <div class="item"><img class="w-75 mx-auto opacity-50" src="~/img/logo/b&amp;w/4.png" alt="" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / end container-->
        </section>
        <!-- / end  Customer Carousel -->
        <!-- / end  T E S T I M O N I A L S -->

        <!--
        ####################################################
        S U B S C R I B E
        ####################################################
        -->
        <!--<section class="py-6" data-zanim-timeline="{}" data-zanim-trigger="scroll" id="subscribe">
            <div class="bg-holder overlay" style="background-image:url(../img/backgrounds/newsletter-bg.jpg);background-position: 63% 26%;">
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4 text-md-right mb-2 mb-md-0">
                        <div class="row no-gutters align-items-center justify-content-md-end border-md-right">
                            <div class="col-auto pl-2 pl-md-0 pr-2 text-lg-right order-1 order-md-0">
                                <h3 class="text-white d-inline-block fs-4 mb-0 lh-1 mt-1" data-zanim-xs='{"from":{"opacity":1,"x":-30},"to":{"opacity":1,"x":0},"duration":1.5,"delay":0.2}'>Subscribe</h3>
                                <p class="mb-0 text-white" data-zanim-xs='{"from":{"opacity":1,"x":-30},"to":{"opacity":1,"x":0},"duration":1.5,"delay":0.3}'>To join our newsletter</p>
                            </div>
                            <div class="col-auto pl-lg-1 pr-md-4 pr-lg-3 pr-xl-4 order-0 order-md-1" data-zanim-xs='{"from":{"opacity":1,"x":-30},"to":{"opacity":1,"x":0},"duration":1.5,"delay":0.1}'><img class="opacity-75" src="~/img/line-icons/mail-4.svg" width="65" style="margin-top: 0px;" alt="" /></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8 col-xl-6 pl-lg-0 px-xl-3">
                        <form data-zanim-xs='{"from":{"opacity":1,"x":30},"to":{"opacity":1,"x":0},"duration":1.5,"delay":0.1}'>
                            <div class="floating-label-group floating-label-group-lg mb-0">
                                <input class="floating-label-input border-0 form-control form-control-lg" id="email" type="email" placeholder="Your Email" required="required" />
                                <label class="floating-label" for="email">Your Email</label>
                                <button class="btn btn-input-icon" type="submit"><span class="fas fa-arrow-right"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </section>-->
        <!-- / end  S U B S C R I B E  -->

        <!--
        ####################################################
        B O T T O M  N A V I G A T I O N
        ####################################################
        -->
            <!-- <section class="bg-1100 py-6 px-3 px-lg-0" id="botnav">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pr-lg-4 mb-4 mb-lg-0">
                    <h5 class="text-white mb-3">Our Mission</h5>
                    <p class="text-700">Our mission is to deliver optimal solutions with quality and services at reasonable prices. For us customer satisfaction is given top place. We are very friendly in our dealings to the customers and it helps us retain existing clients and expand customer circle. We always try to improve the quality of our products by exploring innovative ideas and our service.</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0"><a class="text-900 hover-color-white pr-2" href="#!"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span class="fab fa-twitter"></span></a></li>
                        <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span class="fab fa-linkedin-in"></span></a></li>
                        <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span class="fab fa-google-plus-g"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-md-3 pl-lg-4 mb-4 mb-lg-0">
                            <h5 class="text-white mb-3">Company</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/about.html">About</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/contact.html">Contact</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/blog.html">Blog</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/gallery.html">Gallery</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Privacy</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3 pl-4 mb-4 mb-lg-0">
                            <h5 class="text-white mb-3">Product</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/work.html">Work</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/software.html">software</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/pricing.html">Pricing</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Features</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Docs</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Agencies</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 pl-md-4">
                            <h5 class="text-white mb-3">FROM THE BLOG</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3">
                                    <a class="text-700 hover-color-white" href="../pages/single-post.html"> Testing Working Robots at the Canadian Agency.</a>
                                    <p class="text-900 hover-color-white mb-0">Jan 15, 2019</p>
                                </li>
                                <li class="mb-3">
                                    <a class="text-700 hover-color-white" href="../pages/single-post.html">How to start your new business with limited budget?</a>
                                    <p class="text-900 hover-color-white mb-0">Jan 15, 2019</p>
                                </li>
                                <li class="mb-3">
                                    <a class="text-700 hover-color-white" href="../pages/single-post.html">Do we need more Javascript Framework?</a>
                                    <p class="text-900 hover-color-white mb-0">Jan 15, 2019</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- end of .container
        </section>-->
        <!-- / end  B O T T O M  N A V I G A T I O N  -->

    </main>
<!-- / end M A I N C O N T E N T -->
