
@{
    ViewData["Title"] = "Software";
}

<!--
####################################################
M A I N  C O N T E N T
####################################################
-->
<main>
    <!--
    ####################################################
    H E A D E R
    ####################################################
    -->
    <section class="overflow-hidden py-0" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="bg-holder overlay parallax" style="background-image:url(../img/headers/header-services_test1.jpg);background-position: center 58%;">
        </div>
        <!-- / bg-holder-->
        <div class="header-overlay"></div>
        <div class="container">
            <div class="d-flex align-items-center pt-10 pb-8">
                <div class="header-text">
                    <div class="overflow-hidden">
                        <h1 class="display-3 text-white fs-4 fs-md-6" data-zanim-xs='{"duration":2,"delay":0}'>Healing Begins</h1>
                    </div>
                    <div class="overflow-hidden">
                        <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>
                            with
                            <br /><span class="logo-secondary-style-light fs-6">pr<span class="logo-primary-style-light">e</span>vidence<sup class="fs-3 font-weight-light">&trade;</sup></span> <br />
                            <span class="fs-0">Personalized Mental Healthcare Platform</span><br class="d-block d-md-none">
                        </p>
                    </div>
                    <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">learn more</a>&nbsp&nbsp&nbsp<a class="btn btn-sm btn-light hvr-sweep-top mt-5 px-4" href="#software">Get Started</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- / end  H E A D E R  -->
    <!--
    ####################################################
    S E R V I C E S
    ####################################################
    -->
    <section class="text-center py-5" id="software">
        <div class="container">
            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden">
                        <p class="fs-3 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":"1.5","delay":0.1}'>Personalized Mental Healthcare Platform</p>
                    </div>
                    <div class="overflow-hidden">
                        <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <div class="service-item p-3 p-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0"}'><i class="material-icons md-48 md-dark">assignment</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>k - 12</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.2"}'>Previdence Assessment Technology <br class="d-block d-sm-none"> appraises the mental health of <br class="d-block d-sm-none"> an individual through evidence-based and <br class="d-block d-sm-none"> research-based algorithms. <br class="d-block d-sm-none"> It then identifies possible mental illness and <br class="d-block d-sm-none"> the potential harm that it may cause.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <div class="service-item p-3 p-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.2"}'><i class="material-icons md-48 md-dark">person</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.30000000000000004"}'>First Responders</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.4"}'>After assessing an individual’s mental health, <br class="d-block d-sm-none"> Previdence generates a customized treatment plan <br class="d-block d-sm-none"> based on established mental healthcare protocols. <br class="d-block d-sm-none"> When needed, it also creates a risk management plan <br class="d-block d-sm-none"> based on policy, law, and industry established procedures.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <div class="service-item p-3 p-md-4 h-100">
                            <div class="overflow-hidden">
                                <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.3"}'><i class="material-icons md-48 md-dark">insert_chart</i></div>
                            </div>
                            <div class="overflow-hidden">
                                <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.4"}'>Military</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.5"}'>Previdence Intelligent Analytics and Reporting <br class="d-block d-sm-none"> allows the clinician to see when an individual <br class="d-block d-sm-none"> is not responding to or participating in treatment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / end container-->
        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-dark hvr-sweep-top mt-5 px-4" href="#software">learn more</a></div>
    </section>
    <!-- / end  S E R V I C E S -->
</main>
<!-- / end M A I N C O N T E N T -->
