@{
    ViewBag.Title = "Clinical Software System";
}
<!-- ******* Page Content Render ******* -->
    <img class="img-fluid rounded mb-4" width="1200" height="300" src="~/Images/AI_1396x458b.png" alt="Previdence Services">
    <!-- ******* Services Descriptions ******* -->
    <h3 class="previdence-white" style="text-align:center">Previdence Clinical Assessment and Treatment Software</h3>
    <h4 class="previdence-white" style="text-align:center">Saving lives, one mind at a time.<span style="font-size:small">&#8482</span></h4>
    <p class="card-text">The Previdence mental health suite of technologies saves lives by providing tools to guide professionals in treating mental illness. By helping to resolve this mental suffering, Previdence aids in preventing suicide, homicide, domestic violence, sexual perversions, and other tragic results of mental health disorders.</p>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align:center"><a href="../Info/Assess" style="color:black">Mental Health Assessments</a></h4>
                <div class="card-body">
                    <p class="card-text">Previdence Mental Health Assessment Technology provides clinical assessment tools that appraise the health of an individual through evidence-based behavior correlation algorithms.</p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <a href="../Info/Assess" class="btn btn-previdence-red">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align:center"><a href="../Info/IdentifyIllness" style="color:black">Mental Illness Identification</a></h4>
                <div class="card-body">
                    <p class="card-text">Previdence Mental Health Analysis Technology uses evidence-based behavior correlation algorithms to help identify mental illness and the potential harm that it may cause.</p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <a href="../Info/IdentifyIllness" class="btn btn-previdence-red">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align:center"><a href="../Info/Notes" style="color:black">Clinical Note Automation</a></h4>
                <div class="card-body">
                    <p class="card-text">Previdence Note Generation technology saves you hours of work each week by automatically creating professional mental health notes based on the assessment results.</p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <a href="../Info/Notes" class="btn btn-previdence-red">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align:center"><a href="../Info/IdentifyRisk" style="color:black">Behavioral Risk Identification</a></h4>
                <div class="card-body">
                    <p class="card-text">Previdence Risk Analysis Technology identifies the level of risk of a mental illness, using evidence-based behavior correlation algorithms.</p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <a href="../Info/IdentifyRisk" class="btn btn-previdence-red">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align:center"><a href="../Info/ProgressReports" style="color:black">Treatment Progress Reporting</a></h4>
                <div class="card-body">
                    <p class="card-text">Previdence Recovery Progress Reporting Technology provides an ideal support structure for healing by giving ongoing progress reports. This helps in moving the patient towards mental wellness in the most effective way possible.</p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <a href="../Info/ProgressReports" class="btn btn-previdence-red">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align:center"><a href="../Info/Treat" style="color:black">Treatment Protocol Automation</a></h4>
                <div class="card-body">
                    <p class="card-text">Previdence Mental Health Treatment Protocol Generation Technology uses established treatment protocols, the latest standard-of-care practices, and your own policies to create a customized treatment plan for your patient.</p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <a href="../Info/Treat" class="btn btn-previdence-red">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header" style="text-align:center">Mental Health Resources</h4>
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                        </div>
                        <div class="card-footer" style="text-align:center">
                            <a href="#" class="btn btn-previdence-red">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header" style="text-align:center">Place Holder</h4>
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                        </div>
                        <div class="card-footer" style="text-align:center">
                            <a href="#" class="btn btn-previdence-red">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header" style="text-align:center">Place Holder</h4>
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                        </div>
                        <div class="card-footer" style="text-align:center">
                            <a href="#" class="btn btn-previdence-red">Learn More</a>
                        </div>
                    </div>
                </div>
        </div>*@
    <!-- /Services Descriptions -->
<!-- /Page Content -->
