@{
    ViewBag.Title = "UEMWC 2019";
}
<!-- ******* Page Content Render ******* -->
<img class="img-fluid rounded mb-4" width="1200" height="300" src="~/Images/BrotherSisterReading_1397x465.png" alt="Previdence Services">
<!-- ******* Services Descriptions ******* -->
<h3 class="previdence-white" style="text-align:center">Utah Educators Mental Wellness Conference 2019</h3>


@*<h5 class="previdence-white" style="text-align:center">Saving lives, one mind at a time.<span style="font-size:small">&#8482</span></h5>*@

<p style="text-align:center">
    Learn about Threat Management Screening for students to identify:  Suicide, Self-harm, Violence to others, Bullying, and more.
    <br />Gain insight from other Utah School Districts that have made a significant difference in reducing violence in ther schools by identifying potential threats, implementing management plans, and healing students.
</p>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="text-align:center">
        <h5>Wednesday, October 23<sup>rd</sup>, 2019</h5>
        <h6>Agenda TBA</h6>
        @*<h6>8:30 – 9:00  Registration</h6>
        <h6>9:00 – 9:50  Previdence – Welcome/Introduction</h6>
        <h6>10:00 – 10:50  Tooele School District: Our Success</h6>
        <h6>11:00 – 11:50  Weber School District: Our Success</h6>
        <h6>12:00 – 12:50  Lunch (provided)</h6>
        <h6>1:00 – 1:50  Previdence – Technology Showcase</h6>
        <h6>2:00 – 2:50  Previdence – Discovery and Feedback</h6>*@
    </div>
    <div class="col-4"></div>
</div>
<br />
<div style="text-align:center">
    <h5 style="text-align:center">Admission is FREE for Utah Educators</h5>
    <h5>Lunch will be provided</h5>
    <br />
    <h5>Attendance is RSVP Only by calling Previdence at <a href="tel:801-621-6032" class="previdence-white">801-621-6032</a></h5>
    <h5>or emailing Previdence at <a href="mailto:mailto:events@previdence.com" class="previdence-white">events@previdence.com</a></h5>
    <br />
    <h4 class="previdence-white" style="text-align:center">hosted by</h4>
    <h4 style="text-align:center"><img src="~/Images/PrevidenceLogo_188x35.png" /></h4>
</div>








