
@{
   ViewBag.Title = "Corporate Mental Wellness";
   ViewBag.HeaderTitle = "Productivity Begins";
   ViewBag.HeaderLine1 = "with";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.HeaderImage = "url(../img/headers/Office_Work.jpg)";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.DownLink = "#Services";
   ViewBag.PageTitle = "Corporate Mental Wellness";
   ViewBag.PageSubTitle = "Saving Lives, One Mind at a Time";
   ViewBag.TM_PageSubTitle = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.PageIntro = "Previdence was created so that any organization can maintain the best behavioral risk safety practices for all personnel and their families no matter where they are located in the world. The Previdence Mental Wellness Platform provides a consistent, efficient Standard of Care process for mental Wellness. This allows any organization to Identify, Assess, Manage, and Monitor all personnel who are at risk of causing harm to themselves or others from one convenient platform.";    
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
            </div>
        </section>
        <partial name="_Services" />
    </main>
<!-- / end  M A I N  C O N T E N T -->
