@{
    ViewBag.Title = "Page Not Found";
}
<!-- Page Content -->
<div class="container container-fluid text-center" style="background-image: url('~/Images/Hungry_Dog_1920.jpg'); padding-top:15px">

        <h1>UH OHH!</h1>
        <h1>This hungry dog may have eaten your webpage...</h1>
      
    <img class="img-thumbnail" src="~/Images/Hungry_Dog_513x513.png"  style="border-radius:100%"/>

        <h3 class="text-center">or you are looking for a page that does not exist. In this case the hungry dog recomends that you please double check your intended destination.</h3>
        <h5 class="text-center font-italic">This action has resulted in an HTTP 404 error</h5>

</div>
<!-- /Page Content -->
