:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont,"Josefin_Sans-Regular", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /*first generation Colors*/
    --previdence-gray: #333333;
    --previdence-med-gray: #616161;
    --previdence-light-gray: #9C9C9C;
    --previdence-red: #800000;
    /*Second Generation Colors*/
    --previdence-dark-blue: #233242;
    --previdence-coral: #FF6F62;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/*super script*/
.sup {
    line-height: 0;
    font-size: 70%;
    vertical-align: text-top;    
}

/*Home Page Background - testing to see if we can create a background that changes with screen size*/
/*@media (max-width: 300px) {
    body {
        background-color: #d6d1d1;
        background-image: url("http://placekitten.com/g/200/300");
    }
}

@media (min-width: 301px) and (max-width: 600px) {
    body {
        background-color: #d6d1d1;
        background-image: url("http://placekitten.com/g/400/600");
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    body {
        background-color: #d6d1d1;
        background-image: url("http://placekitten.com/g/500/768");
    }
}

@media (min-width: 769px) {
    body {
        background-color: #d6d1d1;
        background-image: url("http://placekitten.com/g/800/1048");
    }
}*/


/*a {
    color: #f5f5f5;
    text-decoration: none;
    background-color: transparent;
}

    a:hover {
        color: #f5f5f5;
        text-decoration: none;
    }*/

.link-primary-color {
    color: #FF6F62;
    text-decoration: none;
    background-color: transparent;    
}

.btn-primary {
    color: #fff;
    /*background-color: #1b6ec2;*/
    /*border-color: #1861ac;*/
}

/* Logo Styles */
.logo-primary-color {
    color: #FF6F62
}

.logo-secondary-color-light{
    color:#ffffff;
}

.logo-secondary-color-dark {
    color:#000000;
}

.logo-primary-style-light {
    font-family: 'Josefin Sans';
    text-transform: lowercase;
    color: #FF6F62;
    font-weight: bolder;
    letter-spacing: 0.14em
}

.logo-primary-style-dark {
    font-family: 'Josefin Sans';
    text-transform: lowercase;
    color: #FF6F62;
    font-weight: bolder;
    letter-spacing: 0.14em
}

.logo-secondary-style-light {
    font-family: 'Josefin Sans';
    text-transform: lowercase;
    color: #ffffff;
    font-weight: bolder;
    letter-spacing: 0.14em
}

.logo-secondary-style-dark {
    font-family: 'Josefin Sans';
    text-transform: lowercase;
    color: #000000;
    font-weight: bolder;
    letter-spacing: 0.14em
}

.minor-title {
    /*letter-spacing: 0.14em;*/
    font-size: 1.25rem;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.minor-title2 {
    /*letter-spacing: 0.14em;*/
    font-size: 1.10rem;
    color: #000000;
    text-transform: none;
    margin-bottom: 0;
}

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

/* Down Arrow */
.down-arrow {
    position: relative;
    bottom: 10px;
    width: 100%;
}

.down-arrow-img {
    height: 30px;
    cursor: pointer;
    vertical-align: middle;
}


/* Order Lists
-------------------------------------------------- */
ol h5 {

}

/* Buttons
-------------------------------------------------- */
.center-button {
    display: table;
}

    .center-button a {
        display: table-cell;      
        vertical-align: middle;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Google Material Icons */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
    /* Rules for sizing the icon. */
    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-24 {
        font-size: 24px;
    }

    .material-icons.md-36 {
        font-size: 36px;
    }

    .material-icons.md-48 {
        font-size: 48px;
    }
    /* Rules for using matieral icons as black on a light background. */
    .material-icons.md-dark {
        color: rgba(0, 0, 0, 1);
    }
    .material-icons.md-dark.md-inactive {
            color: rgba(0, 0, 0, 0.26);
        }
    /* Rules for using material icons as white on a dark background. */
    .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
    }
    .material-icons.md-light.md-inactive {
            color: rgba(255, 255, 255, 0.3);
        }
