
@{
   ViewBag.Title = "First-Responder Mental Wellness";
   ViewBag.HeaderTitle = "Healing Begins";
   ViewBag.HeaderLine1 = "with";    
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/First_Responders.png)";
   ViewBag.PageTitle = "First Responders";
   ViewBag.PageSubTitle = "Guardian Resiliency";
   ViewBag.TM_PageSubTitle = "";
   ViewBag.PageIntro = "Previdence for First Responders was created so that agencies of any size can maintain the best behavioral risk safety practices for all personnel. Previdence for First Responders provides a consistent, efficient Standard of Care process for mental Wellness. This allows agencies to Identify, Assess, Manage, and Monitor all personnel who are at risk of causing harm to themselves or others from one convenient platform.";
   ViewBag.Discount = "GovernmentEligibility";        
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
            </div>
        </section>
        <partial name="_Services" />
        <partial name="_Discount" />
    </main>
<!-- / end  M A I N  C O N T E N T -->
