
@{
    ViewData["Title"] = "Military Mental Wellness";
    ViewData["HeaderTitle"] = "Healing Begins";
    ViewData["HeaderLine1"] = "with";
    ViewData["HeaderLine2"] = "Intelligent Mental Wellness Platform";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/Soldier_and_Dog.png)";
    ViewData["PageTitle"] = "Military Personnel";
    ViewData["PageSubTitle"] = "Guardian resiliency";
    ViewData["TM_PageSubTitle"] = "";
    ViewData["PageIntro"] = "Previdence for Military Personnel was created so that the Military can maintain the best behavioral risk safety practices for all personnel and their families no matter where they are located in the world. Previdence for Military Personnel provides a consistent, efficient Standard of Care process for mental Wellness. This allows the Military to Identify, Assess, Manage, and Monitor all personnel who are at risk of causing harm to themselves or others from one convenient platform.";
    ViewData["Discount"] = "GovernmentEligibility";    
    ViewData["PageDown"] = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
            </div>
        </section>
        <partial name="_Services" />
        <partial name="_Discount" />
    </main>
<!-- / end  M A I N  C O N T E N T -->
