@{
    ViewData["Title"] = " ";
    ViewData["HeaderTitle"] = " ";
    ViewData["HeaderLine1"] = "with";
    ViewData["HeaderLine2"] = "Mental Wellness Platform";
    ViewData["HeaderImage"] = "url(../img/headers/AI_Head.png)";
    ViewData["PageTitle"] = " ";
    ViewData["PageSubTitle"] = " ";
    ViewData["PageIntro"] = " ";
    ViewData["TM"] = "<span class=\"text-transform-none\">&trade;</span>";
}
<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## F E A T U R E S ########## -->
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <!-- FEATURES -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>  </h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">  </p>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">  </p>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">  </p>
                            </div>
                            <div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>
                        </div>
                        <!-- / end feature -->

                    </div>
                </div>
                <!-- / end  FEATURES -->
                <div class="overflow-hidden text-center">
                    <Div class="">
                        <partial name="_CallToActionDark" />
                    </Div>
                </div>
            </div>
        </section>
        <!-- / end  F E A T U R E S-->
    </main>
<!-- / end  M A I N  C O N T E N T -->
