
@{
    ViewData["Title"] = "Assess Mental Health";
    ViewData["HeaderTitle"] = "Assess Mental Health";
    ViewData["HeaderLine1"] = "with";
    ViewData["HeaderLine2"] = "Intelligent Assessment Engine";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/Assess.jpg)";
    ViewData["PageTitle"] = "Assess Mental Health";
    ViewData["PageSubTitle"] = "Previdence Intelligent Assessment Engine";
    ViewData["TM_PageSubTitle"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["PageIntro"] = "The Previdence Intelligent Assessment Engine appraises the health of an individual through evidence-based behavior correlative algorithms combined with industry best practices. This technology enables you to provide assessments that deliver the following:";    
}
<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## F E A T U R E S ########## -->
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <!-- FEATURES -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Better Understanding</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">Doctors run tests to assess the health of their patients, this way the doctor can make the best diagnosis possible. This is true for mental illness as well. Proper assessments show what mental difficulties a person may be experiencing.</p>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">Previdence has taken the mental health criteria established by psychiatric and psychological authorities and incorporated them into the Intelligent Assessment Engine&trade;.</p>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">This assessment technology is designed to quickly and effectively assess potential mental illness. This gives licensed professionals using the software the best possible opportunity for a correct diagnosis of their patients.</p>
                            </div>
                            <div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Increased Positive Patient Outcomes</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">Previdence Intelligent Assessments give clinicians a clear overall view of the issues a patient may be facing in their life. This allows a clinician to effectively guide the patient through proper care and recovery. Previdence Intelligent Assessments also aid the clinician in creating treatment protocol based on accepted standards of care for effective short and long-term recovery.</p>
                            </div>
                            <div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Identify Behavioral Risk</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">The Previdence Risk Assessment Engine helps clinicians identify factors that may be of greater importance or of higher risk to a patient. These factors can include depression, self-harm, suicide, homicide, and other risks to themselves or society.</p>
                            </div>
                            <div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Professional Tools & Guidance</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">People diagnosing and treating themselves has become a large problem in mental health care. This is typically a result of reputable information someone finds on the internet or in a book that they then apply without the expert assistance of a mental healthcare professional. Without a clinician who has the proper training and diagnostic tools to guide them, an individual cannot receive the care they deserve. They often misdiagnose themselves and mistreat themselves resulting in a worsened condition. </p>
                            </div>
                            @*<div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>*@
                        </div>
                        <!-- / end feature -->
                    </div>
                </div>
                <!-- / end  FEATURES -->
                <div class="overflow-hidden text-center">
                    <Div class="">
                        <partial name="_CallToActionDark" />
                    </Div>
                </div>

            </div>
        </section>
        <!-- / end  F E A T U R E S -->
    </main>
<!-- / end  M A I N  C O N T E N T -->
