@{
    ViewData["Title"] = "Limit Liability- Automate Compliance";
    ViewData["HeaderTitle"] = "Automate Compliance";
    ViewData["HeaderLine1"] = "with";
    ViewData["HeaderLine2"] = "Intelligent Protocol Automation Engine";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/Focus.png)";
    ViewData["PageTitle"] = "Automate Compliance";
    ViewData["PageSubTitle"] = "Intelligent Protocol Automation Engine";
    ViewData["TM_PageSubTitle"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["PageIntro"] = "Use the Previdence Intelligent Protocol Automation to streamline organizational policies, government regulations, and professional standards.";    
    ViewData["PageDown"] = "Content";
}
<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## F E A T U R E S ########## -->
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <!-- FEATURES -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Ensure Compliance and Optimize Outcomes</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">Previdence Intelligent Protocol Automation helps to limit liability by streamlining compliance to organizational policies, government regulations, and professional standards. Automation makes it possible to feel confident that all has been done to provide the best possible outcome. </p>
                            </div>    
                            @*<div class="overflow-hidden">
                                <hr class="my-3" />
                            </div>*@
                        </div>
                        <!-- / end feature -->
                    </div>
                </div>
                <!-- / end  FEATURES -->
                <div class="overflow-hidden text-center">
                    <Div class="">
                        <partial name="_CallToActionDark" />
                    </Div>
                </div>

            </div>
        </section>
        <!-- / end  F E A T U R E S-->
    </main>
<!-- / end  M A I N  C O N T E N T -->
