@{
    ViewData["Title"] = "Risk Identification";
    ViewData["HeaderTitle"] = "Identify Behavioral Risk";
    ViewData["HeaderLine1"] = "with";
    ViewData["HeaderLine2"] = "Intelligent Risk Estimate Engine";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/RiskyBehavior.png)";
    ViewData["PageTitle"] = "Identify Behavioral Risk";
    ViewData["PageSubTitle"] = "Previdence Intelligent Risk Estimate Engine";    
    ViewData["TM_PageSubTitle"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["PageIntro"] = "The Previdence Intelligent Risk Estimate Engine uses evidence-based correlative algorithms combined with industry standard best practices to help identify mental illness and the potential harm that it may cause.";
    ViewData["PageDown"] = "Content";
}
<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## F E A T U R E S ########## -->
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <!-- FEATURES -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Established Success</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">The Previdence Intelligent Risk Estimate Engine is built from a tested risk model that has been used successfully to reduce behavioral risk and treat mental illness for over 20 years.</p>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">It began as a paper-based system in the mid 1990’s that was used to identify suicide and sexual perversions. In 2004 the paper-based system was converted into a software toolkit. With the aid of the computer, correlative algorithm analysis was effectively used to reduce suicide in soldiers by 56% and greatly reduce homicidal ideations. In the school districts using Previdence, suicide has been greatly reduced.</p>
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Identify Risk</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">The Intelligent Assessment Engine&trade; allows a clinician to assess the mental health of an individual and identify possible mental illness and behavioral risk. </p>
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Estimate Risk</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">The Intelligent Risk Estimate Engine&trade; allows a clinician to analyze behavioral risk in an individual and determine the potential of threat.</p>
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Manage Risk</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">The Previdence Management Plan Generator&trade; builds an individualized Management Safety Plan for Threat Management. Each plan is based upon the patient’s own responses to the Intelligent Assessments.</p>
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Monitor Risk</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">The Previdence Intelligent Analytics Engine&trade; uses evidence-based behavior correlative analysis to help identify mental illness and the potential harm that it may cause.</p>
                            </div>
                        </div>
                        <!-- / end feature -->
                    </div>
                </div>
                <!-- / end  FEATURES -->
                <div class="overflow-hidden text-center">
                    <Div class="">
                        <partial name="_CallToActionDark" />
                    </Div>
                </div>

            </div>
        </section>
        <!-- / end  F E A T U R E S -->
    </main>
<!-- / end  M A I N  C O N T E N T -->
