@{
   ViewBag.Title = "Mental Wellness Software Services";
   ViewBag.Title = "Software Services";
   ViewBag.HeaderTitle = "Mental Wellness Services";
   ViewBag.HeaderLine1 = "from";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/AI_Head.png)";
   ViewBag.PageTitle = "Previdence Intelligent Mental Wellness Services";
   ViewBag.PageSubTitle = "Saving Lives, One Mind at a Time";
   ViewBag.TM_PageSubTitle = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.PageIntro = "In helping to treat over 180,000 people with mental concerns, Previdence has developed a suite of intelligent technologies that allow professionals to Assess Mental Health, Identify Behavioral Risk, and Generate Safety and Treatment Plans. This intelligent technology suite has aided professionals in saving the lives of soldiers, students, children, first-responders and more.";
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
<main data-zanim-timeline="{}" data-zanim-trigger="scroll">
    <partial name="_Header" />
    <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
        <div class="container">
            <partial name="_PageTitle" />
        </div>
    </section>
    <partial name="_Services" />
</main>
<!-- / end  M A I N  C O N T E N T -->