@{
    ViewData["Title"] = "Treatment Management ";
    ViewData["HeaderTitle"] = "Manage Treatmentment";
    ViewData["HeaderLine1"] = "with";
    ViewData["HeaderLine2"] = "Intelligent Protocol Automation Engine";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/Treatment.png)";
    ViewData["PageTitle"] = "Treatment Management";
    ViewData["PageSubTitle"] = "Previdence Intelligent Protocol Automation Engine";
    ViewData["TM_PageSubTitle"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["PageIntro"] = "Previdence Intelligent Protocol Automation uses established treatment protocols, the latest standard-of-care practices, and your own policies to create a customized treatment plan based on individual need.";    
    ViewData["PageDown"] = "Content";
}
<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## F E A T U R E S ########## -->
        <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <!-- FEATURES -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Optimized Recovery</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">Previdence Intelligent Protocol Automation uses industry standard, evidence-based protocols to generate a custom treatment plan based on individual need. This helps to ensure quick and effective recovery from mental illness with increased positive outcomes.</p>
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Confident Decisions</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">Previdence Intelligent Protocol Automation helps to ensure that organizational policies, government regulations, and professional standards are all considered when treating an individual. This allows decisions of care to be made with the confidence.</p>
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Limit Liability</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">Previdence Intelligent Protocol Automation helps with compliance to organizational policies, government regulations, and professional standards. This helps to limit misplaced liability when an individual is not responsive to treatment or produces an undesirable result from treatment.</p>
                            </div>
                        </div>
                        <!-- / end feature -->
                        <!-- feature -->
                        <div>
                            <div class="overflow-hidden">
                                <h5>Working for the Future</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="">Previdence is continuously researching mental health treatment protocols to find patterns that optimize recovery. These techniques utilize the best in mental health therapy and mental pharmaceutical treatments.</p>
                            </div>
                        </div>
                        <!-- / end feature -->
                    </div>
                </div>
                <!-- / end  FEATURES -->
                <div class="overflow-hidden text-center">
                    <Div class="">
                        <partial name="_CallToActionDark" />
                    </Div>
                </div>
            </div>
        </section>
        <!-- / end  F E A T U R E S-->
    </main>
<!-- / end  M A I N  C O N T E N T -->
