@{
   ViewBag.Title = "Monitor Treatment";
   ViewBag.HeaderTitle = "Monitor Treatment";
   ViewBag.HeaderLine1 = "with";
   ViewBag.HeaderLine2 = "Intelligent Analytics Engine";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/Progress.png)";
   ViewBag.PageTitle = "Monitor Treatment";
   ViewBag.PageSubTitle = "Previdence Intelligent Analytics Engine";    
   ViewBag.TM_PageSubTitle = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.PageIntro = "The Previdence Intelligent Analytics Engine allows a mental health provider to see when an individual is responsive or un-responsive to treatment.";    
   ViewBag.PageDown = "Content";
}
<!-- ########## M A I N  C O N T E N T ########## -->
<main data-zanim-timeline="{}" data-zanim-trigger="scroll">
    <partial name="_Header" />
    <!-- ########## F E A T U R E S ########## -->
    <section class="py-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
        <div class="container">
            <partial name="_PageTitle" />
            <!-- FEATURES -->
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- feature -->
                    <div>
                        <div class="overflow-hidden">
                            <h5>Better Understanding</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="">By charting the progress or regress of an individual a provider can see where an individual has mad progress and where they need to make more improvement.</p>
                        </div>
                    </div>
                    <!-- / end feature -->
                    <!-- feature -->
                    <div>
                        <div class="overflow-hidden">
                            <h5>Ahead of the Curve</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="">The Previdence Intelligent Analytics Engine&trade; can show if a patient begins to regress into a status where behavioral risk is a factor. This allows the mental Wellness provider to take the necessary precautions to ensure the safety of the individual and others.</p>
                        </div>
                    </div>
                    <!-- / end feature -->
                    <!-- feature -->
                    <div>
                        <div class="overflow-hidden">
                            <h5>Safest Outcome</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="">The Previdence Intelligent Protocol Automation&trade; can be triggered to generate an industry standard, evidence-based protocol based on the individual need. This Safety Plan helps to ensure a quick and effective mitigation of risk with the safest outcome possible.</p>
                        </div>
                    </div>
                    <!-- / end feature -->
                </div>
            </div>
            <!-- / end  FEATURES -->
            <div class="overflow-hidden text-center">
                <Div class="">
                    <partial name="_CallToActionDark" />
                </Div>
            </div>
        </div>
    </section>
    <!-- / end  F E A T U R E S-->
</main>
<!-- / end  M A I N C O N T E N T -->
