@{
   ViewBag.Title = "Acceptable Use Policy - AUP";
   ViewBag.HeaderTitle = "Acceptable Use Policy";
   ViewBag.HeaderLine1 = "";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/Dawn_of_Healing.jpg)";
   ViewBag.PageTitle = "Previdence Acceptable Use Policy";    
   ViewBag.PageSubTitle = "";
   ViewBag.TM_PageSubTitle = "";
   ViewBag.PageIntro = " ";
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## S U B S C R I B E R  A C C E P T A B L E  U S E  P O L I C Y ########## -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <div class="row justify-content-center text-left">
                    <div class="col-lg-7">
                        <div class="overflow-hidden">
                            <p>
                                This Acceptable use policy identifies activities that you are prohibited from engaging in when using Previdence Online Services ("Services" or in the case of an individual service, "Service"), which includes any Service that links to this Acceptable use policy.
                            </p>
                            <p>
                                Please report violations of this Acceptable use policy to Previdence Customer Support. Include the words "Acceptable Use Policy" in the subject.
                            </p>
                        </div>

                        <div class="overflow-hidden">
                            <h5>When using Previdence Online Services, you may not:</h5>
                            <p>1.  Use the Services in a way that is against applicable law. Including:</p>
                            <ol type="a">
                                <li>Illegal activity such as child pornography; gambling; piracy; violating copyright, trademark or other intellectual property laws.</li>
                                <li>Accessing or authorizing anyone to access the service from an embargoed country.</li>
                                <li>Threatening, stalking, defaming, defrauding, degrading, victimizing or intimidating anyone for any reason.</li>
                                <li>Invading anyone's privacy by attempting to harvest, collect, store, or publish private or personally identifiable information, such as passwords, account information, credit card numbers, addresses, or other contact information without their knowledge and consent.</li>
                            </ol>
                        </div>

                        <div class="overflow-hidden">
                            <p>2.  Use the Services in a way that could harm them or impair anyone else's use of them. Including:</p>
                            <ol type="a">
                                <li>Any attempt to gain unauthorized access to a Service, acting to deny others access to a Service, or authorizing any third party to access or use the Services on your behalf (such as anyone without a license or revealing to anyone your username and password).</li>
                                <li>Use the Services to try to gain unauthorized access to any other service, data, account or network by any means.</li>
                                <li>Use any automated process or service to access or use the Services such as a BOT, a spider or periodic caching of information stored by Previdence.</li>
                                <li>Intending to harm or exploit minors in any way, or collecting personally identifiable information of any minor.</li>
                            </ol>
                        </div>

                        <div class="overflow-hidden">
                            <p>3.  Falsify any email header information or in any way misrepresent your identity. Including misrepresenting the source of anything you post or upload or impersonating another individual or entity, such as with "spoofing".</p>
                        </div>

                        <div class="overflow-hidden">
                            <p>4.  Use the Services to transmit, distribute, or deliver any unsolicited bulk or unsolicited commercial e-mail (i.e., spam). Except with regard to spam that you are directing to a Previdence-provided e-mail spam filter.</p>
                        </div>

                        <div class="overflow-hidden">
                            <p>5.	Remove, modify, or tamper with any regulatory or legal notice or link that is incorporated into the Services.</p>
                            <ol type="a">
                                <li>Including providing or creating links to external sites that violate this Acceptable use policy or other legal agreements Previdence provides.</li>
                                <li>As well as any use of the Services to distribute any offering or link designed to violate these terms (e.g., enable sending of spam, enable denial of service attacks, etc.)</li>
                            </ol>
                        </div>

                        <div class="overflow-hidden">
                            <h5>Additionally:</h5>
                            <ul>
                                <li>Previdence is not responsible for the content of any user-created posting, listing or message. The decision to view content or engage with others is yours. We advise you to use your judgment.</li>
                                <li>You are responsible for protecting your computer against interference, spyware or viruses that may be encountered for downloaded items from the service. We recommend you install a virus protection program on your computer and keep it up to date.</li>
                                <li>Information you provide or upload to the Services may be stored outside of the country in which you reside.</li>
                            </ul>
                        </div>

                        <p class="font-weight-bold">Your use of any Previdence Online Services administered through this site is governed by the terms and conditions of the agreement(s) under which you purchased the services. You can obtain a copy of your agreement(s) by contacting Previdence Support.</p>
                        <p class="font-weight-bold">If Previdence believes that unauthorized or improper use is being made of the Previdence Online Services, it may, without notice and at its sole discretion, take such action as it deems appropriate, including blocking messages from a particular internet domain, mail server or IP address. Violation of this policy can lead to termination of a customer's account.</p>
                        <p class="font-weight-bold">Previdence reserves the right to amend or change the Acceptable use policy of any service at any time without notice. We encourage you to periodically review these guidelines to ensure you are in compliance.</p>
                        <p class="font-weight-bold">Nothing in this policy is intended to grant any rights in the Previdence Online Services. Failure to enforce this policy in every instance does not amount to a waiver of Previdence's rights.</p>

                    </div>
                </div>
                <div class="overflow-hidden text-center">
                    <partial name="_CallToActionDark" />
                </div>
            </div>
        </section>
        <!-- / end  S U B S C R I B E R  A C C E P T A B L E  U S E  P O L I C Y -->
    </main>
<!-- / end M A I N  C O N T E N T -->
