@{
    ViewData["Title"] = "Subscription Code of Conduct";
    ViewData["HeaderTitle"] = "Code of Conduct";
    ViewData["HeaderLine1"] = "";
    ViewData["HeaderLine2"] = "Intelligent Mental Wellness Platform";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";
    ViewData["HeaderImage"] = "url(../img/headers/Dawn_of_Healing.jpg)";
    ViewData["PageTitle"] = "Previdence Code of Conduct";
    ViewData["PageSubTitle"] = "";
    ViewData["TM_PageSubTitle"] = "";
    ViewData["PageIntro"] = "";
    ViewData["PageDown"] = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## C O D E  O F  C O N D U C T ########## -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <div class="row justify-content-center text-left">
                    <div class="col-lg-7">
                        <p>
                            As a Previdence Online Services subscription you agree to abide by the following conduct rules.
                        </p>
                        <p class="text-uppercase">
                            You will not:
                        </p>
                        <section class="py-0">
                            <ol>
                                <li>Upload, or otherwise make available, files that contain images, photographs, software or other material protected by intellectual property laws, including, by way of example, and not as limitation, copyright or trademark laws (or by rights of privacy or publicity) unless you own or control the rights thereto or have received all necessary consents to do the same.</li>
                                <li>Use any material or information, including images or photographs, via Previdence Online Services in any manner that infringes any copyright, trademark, patent, trade secret, or other proprietary right of any party.</li>
                                <li>Upload files that contain viruses, trojan horses, worms, or any other similar software or programs that may damage the operation of another's computer or property of another.</li>
                                <li>Institute attacks upon a Previdence Online Services server or otherwise disrupt Previdence Online Services.</li>
                                <li>Use Previdence Online Services in connection with surveys, assessments, or contests that are not part of Previdence Online Services.</li>
                                <li>Use Previdence Online Services in connection with pyramid schemes, chain letters, junk email, spamming or any duplicative or unsolicited messages (commercial or otherwise).</li>
                                <li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.</li>
                                <li>Restrict or inhibit any other user from using and enjoying Previdence Online Services, software or other content.</li>
                                <li>Harvest or otherwise collect information about others, including e-mail addresses.</li>
                                <li>Create a false identity for the purpose of misleading others.</li>
                                <li>Violate any applicable laws or regulations.</li>
                            </ol>
                        </section>

                    </div>
                </div>
                <div class="overflow-hidden text-center">
                    <partial name="_CallToActionDark" />
                </div>
            </div>
        </section>
        <!-- / end  C O D E  O F  C O N D U C T -->
    </main>
<!-- / end  M A I N  C O N T E N T -->
