@{
   ViewBag.Title = "HIPAA";
   ViewBag.HeaderTitle = "HIPAA";
   ViewBag.HeaderLine1 = "";
   ViewBag.HeaderLine2 = "Intelligent Mental Wellness Platform";
   ViewBag.TM_HeaderLine2 = "<span class=\"text-transform-none\">&trade;</span>";
   ViewBag.HeaderImage = "url(../img/headers/Dawn_of_Healing.jpg)";
   ViewBag.PageTitle = "HIPAA";    
   ViewBag.TM_PageSubTitle = "";
   ViewBag.PageSubTitle = "";
   ViewBag.PageIntro = "";
   ViewBag.PageDown = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <!-- ########## H I P A A ########## -->
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
                <div class="row justify-content-center text-left">
                    <div class="col-lg-7">
                        <div class="overflow-hidden">
                            <p class="minor-title">Health Insurance Portability and Accountability Act</p>
                        </div>
                        <p class="">
                            Please read the following if you choose to work with a mental Wellness professional from the Previdence Professional Network (PPN) for the purposes of mental health therapy or counseling.
                        </p>
                        <p class="">
                            All PPN members are independent, private practitioners providing independent services. All PPN members are licensed in their respective fields by the state in which they practice; these fields can include Psychiatry, Psychology, Marriage and Family Therapy, and Clinical Social Work. All PPN members provide subspecialty services to meet the needs of a wide variety of difficulties and problems. Please feel free to ask your therapist about this and any other questions you may have regarding the services provided.
                        </p>
                        <p class="">
                            When you receive treatment from a member of the Previdence Professional Network, as their client, you have the right to expect the following per HIPAA:
                        </p>
                        <ol class="">
                            <li>
                                To receive the best professional services within your personal belief system, including the right to an individual treatment plan.
                            </li>
                            <li>
                                To ask any questions about services, professional background, theoretical orientation, areas of specialization, and limitations.
                            </li>
                            <li>
                                To participate in the development of and approval of treatment plans and programs, receive information on an estimated length of treatment, and to know about specific treatment strategies.
                            </li>
                            <li>
                                To have the right to refuse any treatment.
                            </li>
                            <li>
                                To request a referral to a different therapist or service provider.
                            </li>
                            <li>
                                To expect that information, verbal or written, provided to the therapist will be confidential.  No information will be communicated to the other individuals or agencies unless specifically authorized the signature of the patient, parent, or legal guardian in writing (see Release of Information Form) with the following exceptions:
                                <ol type="a">
                                    <li>
                                        If a clear emergency exists where there may be danger to the client or others.
                                    </li>
                                    <li>
                                        If it is necessary to comply with State Statutes, such as mandatory reporting when child abuse is suspected or reported.
                                    </li>
                                    <li>
                                        Court ordered subpoena of client records as a result of a judicial decree to release such records, and court ordered subpoena to testify as a result of a judicial decree.
                                    </li>
                                    <li>
                                        Information may be released to insurance carriers regarding your diagnosis and type of treatment provided.  Some managed care companies and “EAP” programs are authorized by your signature to obtain additional information regarding treatment prognosis.
                                        If you have any questions regarding this, please ask.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                To be informed when confidential information has been requested and to terminate the release of information at any time.
                            </li>
                            <li>
                                To be fully informed regarding fees for treatment.
                            </li>
                            <li>
                                To ask any questions at any time, terminate treatment at any time, and refuse to answer any question at any time.
                            </li>
                            <li>
                                You have the right to see your treatment record if you desire and have copies of therapy notes. Your involvement with the therapist is governed by this agreement and by the laws governing each therapist’s type of practice. Your treatment should be fully informed and voluntary. Your signature signifies that you understand and agree to the conditions of the treatment specified above and give consent for treatment by your therapist.
                            </li>
                        </ol>
                        <p class="">
                            More information about HIPAA is available by <a href="https://www.hhs.gov/hipaa/for-individuals/guidance-materials-for-consumers/index.html">clicking here</a>.
                        </p>
                    </div>
                </div>
                <div class="overflow-hidden text-center">
                    <partial name="_CallToActionDark" />
                </div>
            </div>
        </section>
        <!-- / end  H I P A A -->
    </main>
<!-- / end  M A I N  C O N T E N T -->
