@{
    ViewData["Title"] = "Agreements and Policies";
    ViewData["HeaderTitle"] = "Agreements and Policies";
    ViewData["HeaderLine1"] = "";
    ViewData["HeaderLine2"] = "Intelligent Mental Wellness Platform";
    ViewData["TM_HeaderLine2"] = "<span class=\"text-transform-none\">&trade;</span>";    
    ViewData["HeaderImage"] = "url(../img/headers/Dawn_of_Healing.jpg)";
    ViewData["PageTitle"] = "Previdence Agreements and Policies";
    ViewData["PageSubTitle"] = "";
    ViewData["TM_PageSubTitle"] = "";
    ViewData["PageIntro"] = "";        
    ViewData["PageDown"] = "Content";
}

<!-- ########## M A I N  C O N T E N T ########## -->
    <main data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <partial name="_Header" />
        <section class="pt-5 pb-0" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <partial name="_PageTitle" />
            </div>
        </section>
        <!-- ########## L E G A L  A G R E E M E N T & P O L I C Y  L I N K S ########## -->
        <section class="text-center pt-0 pb-5" id="Content" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'>
            <div class="container">
                <!-- LINK BUTTONS -->
                <div class="row justify-content-center">
                    <!-- Link Button -->
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                        <a class="btn btn-outline-dark hvr-sweep-top py-3 px-3 btn-block h-100 ls-2 font-weight-normal fs-1" asp-area="" asp-controller="Agreements" asp-action="SubscriptionAgreement">Subscription Agreement</a>
                    </div>
                </div>
                <!-- / end  Link Button -->
                <!-- Link Button -->
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                        <a class="btn btn-outline-dark hvr-sweep-top py-3 px-3 btn-block h-100 ls-2 font-weight-normal fs-1" asp-area="" asp-controller="Agreements" asp-action="CodeOfConduct">Code of Conduct</a>
                    </div>
                </div>
                <!-- / end  Link Button -->
                <!-- Link Button -->
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                        <a class="btn btn-outline-dark hvr-sweep-top py-3 px-3 btn-block h-100 ls-2 font-weight-normal fs-1" asp-area="" asp-controller="Agreements" asp-action="AcceptableUsePolicy">Acceptable Use Policy</a>
                    </div>
                </div>
                <!-- / end  Link Button -->
                <!-- Link Button -->
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                        <a class="btn btn-outline-dark hvr-sweep-top py-3 px-3 btn-block h-100 ls-2 font-weight-normal fs-1" asp-area="" asp-controller="Agreements" asp-action="PrivacyPolicy">Privacy Policy</a>
                    </div>
                </div>
                <!-- / end  Link Button -->
                <!-- Link Button -->
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                        <a class="btn btn-outline-dark hvr-sweep-top py-3 px-3 btn-block h-100 ls-2 font-weight-normal fs-1" asp-area="" asp-controller="Agreements" asp-action="HIPAA">HIPAA</a>
                    </div>
                </div>
                <!-- / end  Link Button -->
                <!-- Link Button -->
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                        <a class="btn btn-outline-dark hvr-sweep-top py-3 px-3 btn-block h-100 ls-2 font-weight-normal fs-1" asp-area="" asp-controller="DiscountEligibility" asp-action="Index">Discount Eligibility</a>
                    </div>
                </div>
                <!-- / end  Link Button -->
            </div>
            <!-- / end  LINK BUTTONS -->
            <partial name="_CallToActionDark" />
        </section>
        <!-- / end   L E G A L  A G R E E M E N T & P O L I C Y  L I N K S -->
    </main>
<!-- / end  M A I N  C O N T E N T -->
